<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<!--(bake /templates/structure/html-header.html)-->
</head>

<body class="about">
  <div id="top"><a href="#skipnav" class="skip">Skip to main content</a></div>
		<div id="wrapper">

			<!--(bake /templates/structure/header.html)-->
      
			<div id="main">
		    <a id="skipnav" tabindex="-1"></a>

        <a id="main-content"></a>

          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <p class="push h100"></p>

                <h2>Templates</h2>
                <p class="push h20"></p>

                <!-- <ul>
                	<li>
                		<p><a href="template1.html">Template 1</a></p>
                	</li>
                </ul> -->

                <p class="push h40"></p>  
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <p class="push h100"></p>

                <h2>Components</h2>
                <p class="push h20"></p>

                <h5>Batch 1</h5>
                <ul>
                  <li><p><a href="header-image.html">Header image</a></p></li>
                  <li><p><a href="title.html">Title</a></p></li>
                  <li><p><a href="standfirst.html">Standfirst</a></p></li>
                  <li><p><a href="subtitle.html">Subtitle</a></p></li>
                  <li><p><a href="bodycopy.html">Body Copy</a></p></li>
                  <li><p><a href="quote.html">Quote</a></p></li>
                  <li><p><a href="words.html">Words/Photography</a></p></li>
                </ul>

                <h5>Batch 2</h5>
                <ul>
                  <li><p><a href="pull-out-one.html">Pull Out One</a></p></li>
                  <li><p><a href="expert-advice.html">Expert advice</a></p></li>
                  <li><p><a href="expert-tip.html">Expert tip</a></p></li>
                  <li><p><a href="bookit.html">Bookit</a></p></li>
                </ul>

                <p class="push h40"></p>  
              </div>
            </div>
            
          </div> <!-- .container -->

      </div><!-- #main -->
			<div class="push-sf"></div> <!-- for sticky footer -->
		</div><!-- .wrapper -->

		<!--(bake /templates/structure/footer.html)-->
  </body>
</html>