<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="footer-nav-container">
          <ul>
            <li><a href="terms-and-condition">T&Cs</a></li>
            <li><a href="cookie-policy">Cookie policy</a></li>
            <li><a href="about">About</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<div id="grid-overlay">
  <div class="container">
    <div class="row">
      <div class="col-xs-1 col-sm-1 col-md-1"><span></span></div>
      <div class="col-xs-1 col-sm-1 col-md-1"><span></span></div>
      <div class="col-xs-1 col-sm-1 col-md-1"><span></span></div>
      <div class="col-xs-1 col-sm-1 col-md-1"><span></span></div>
      <div class="col-xs-1 col-sm-1 col-md-1"><span></span></div>
      <div class="col-xs-1 col-sm-1 col-md-1"><span></span></div>
      <div class="col-xs-1 col-sm-1 col-md-1"><span></span></div>
      <div class="col-xs-1 col-sm-1 col-md-1"><span></span></div>
      <div class="col-xs-1 col-sm-1 col-md-1"><span></span></div>
      <div class="col-xs-1 col-sm-1 col-md-1"><span></span></div>
      <div class="col-xs-1 col-sm-1 col-md-1"><span></span></div>
      <div class="col-xs-1 col-sm-1 col-md-1"><span></span></div>
    </div>
  </div>
</div>

<script type="text/javascript" src="HTMLResources/js/util.min.js"></script>
<script type="text/javascript" src="HTMLResources/js/lib.min.js"></script>
<script type="text/javascript" src="HTMLResources/js/framework.min.js"></script>