<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<!--#insert file="../structure/-html-header.html" -->
</head>

  <body>
		<div id="wrapper">
      <!--#insert file="../structure/-header.html" -->

      <div class="container">
        <!-- START: COMPONENT DETAILS -->
          <h2>Component: Book it</h2>
          <p class="push h20"></p>
          <p><strong>Description:</strong> Book appointment. Image and text with link. User needs to be able to add HTML tags i.e. &lt;br&gt;</p>
        <!-- END: COMPONENT DETAILS -->

        <p class="push h100"></p>

        <div class="row">        
          <div class="col-xs-12">
            <!--#insert file="../components/-bookit.html" -->
          </div>
        </div>

        <div class="push-sf"></div> <!-- for sticky footer -->
      </div> 
		</div><!-- .wrapper -->

   <!--#insert file="../structure/-footer.html" -->
  </body>
</html>