<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<include src="../structure/_html-header.html"></include>
</head>

  <body>
		<div id="wrapper">
      <include src="../structure/_header.html"></include>

      <div class="container">
        <!-- START: COMPONENT DETAILS -->
          <h2>Component: xxxxx</h2>
          <p class="push h20"></p>
          <p><strong>Description:</strong>Lorem ipsum dolor</p>
        <!-- END: COMPONENT DETAILS -->

        <p class="push h100"></p>

        <div class="row">        
          <div class="col-xs-12">
            <include src="../components/_bookit.html"></include>
          </div>
        </div>

        <div class="push-sf"></div> <!-- for sticky footer -->
      </div> 
		</div><!-- .wrapper -->

   <include src="../structure/_footer.html"></include>
  </body>
</html>