/****************************************
* TYPOGRAPHY
****************************************/

/* MAJESTIC BANNER */
/*@font-face {
  font-family: 'MajesticBanner';
  src: url('../fonts/MajestiBanner-Medium.eot');
  src: url('../fonts/MajestiBanner-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MajestiBanner-Medium.woff') format('woff'),
       url('../fonts/MajestiBanner-Medium.ttf')  format('truetype'),
       url('../fonts/MajestiBanner-Medium.svg#MajesticBanner') format('svg');
  font-weight: 400;
  font-style: normal;
}*/