.component.body-copy {
	.image {
		float: left;
		width: 65px;
	  height: 65px;
	  margin: 4px 10px 0 0;
	  background-color: $peach;
	}
}

.component.body-copy.circle-dropcap {
	.dropcap {
		padding-top: 0px !important;
    	border-radius: 50%;
    	line-height: 66px !important;
    	font-family: "Archer" !important;
	}
}