.component.border-stripes {
	border: 10px solid transparent;
  border-image: repeating-linear-gradient( 45deg, $grey, $grey 1px, #fff 0px, #fff 10px) 10;

  border-image-source: url(../img/components/border-stripes.png);
  border-image-slice: 10 10;
  border-image-repeat: round;
}