.component.competition {
  margin:0 auto;
  position:relative;
  overflow:hidden;
  @media all and (min-width: 645px) {
    width:645px;
  }
  .content-wrapper{
    font-family: 'SinkinSans';
    font-weight:400;
    font-style:normal;
    padding: 10px 15px 30px;
    // .content-title{
    //   font-family: "Archer A", "Archer B";
    //   font-size:30pt;
    //   line-height:28pt;
    //   font-style: italic;
    //   font-weight: 700;
    //   text-align:center;
    //   text-transform:uppercase;
    //   @media all and (min-width: 645px) {
    //     max-width:645px;
    //   }
    // }

    .title {

      &.competition-style2{
        font-size:15pt;
        line-height:15pt;
        text-transform: uppercase;
        font-weight: 600;
        display:inline-block;
        background: $purple;
        padding:4px 4px 6px;
        @media all and (min-width: 480px) {
          font-size: 25pt;
          padding:6px 6px 8px;
        }
      }

      &.competition-style3{
        font-size:20pt;
        line-height:24pt;
        @media all and (min-width: 480px) {
          font-size: 25pt;
          line-height: 30pt;
        }
      }

      &.competition-style4{
        font-size:20pt;
        line-height:25pt;
        font-weight: 600;
      } 

      &.competition-style5{
        font-size:20pt;
        line-height:25pt;
        text-transform: uppercase;
        padding-bottom:12px;
        margin-bottom:12px;
        border-bottom:1px solid $black;
        @media all and (min-width: 480px) {
          font-size: 25pt;
        }
      }

      &.competition-style6{
        font-size:35pt;
        line-height:25pt;
        font-weight: 500;
        @media all and (min-width: 480px) {
          font-size: 40pt;
        }
      }

      &.competition-style7{
        font-family: 'MajesticBanner';
        font-size:28pt;
        line-height:33.6pt;
        font-style:italic;
        letter-spacing: -2px;
        @media all and (min-width: 480px) {
          font-size: 38pt;
          line-height: 30.6pt;
        }
      }

      &.competition-style8{
        font-family: 'MajesticBanner';
        font-size:25pt;
        line-height:16pt;
      }

      &.competition-style9{
        font-family: 'SinkinSans';
        font-size:39pt;
        line-height:46.8pt;
        font-weight:400; 
        text-transform: uppercase;
      }

    }

    .content-intro{
      padding:0px 0px;
      text-align:center;
      @media all and (min-width: 480px) {
        padding:0px 10px;
      }
    }
    form{
      .content-form{
        max-height:0;
        opacity:0;
        transition: all 500ms;
        overflow:hidden;
        input{
          -webkit-border-radius:0; 
          border-radius:0;
          border:1px solid $black;
        }
        fieldset{
          border:none;
          height:0;
          margin-bottom:5px;
          font-family: 'SinkinSans';
          label{
            width:100%;
            display:block;
            font-size:11px;
            line-height: 25pt;
          }
          input{
            width:100%;
            display:block;
            height:25px;
            padding:0 15px;
          }
        }

        .mandatory{
          &.info{
            margin-top:34px;
            margin-bottom:30px;
            @media all and (min-width: 480px) {
              margin-top:54px;
            }
          }
          &:before{
            content:'*';
          }
        }
        .checkbox{
          margin-top:20px;
          input{
            float:left;
            position:relative;
          }
          label{
            display:inline-block;
            max-width:185px;
            float:left;
            margin-left:5px;
            @media all and (min-width: 480px) {
              max-width:305px;
            }

            a{
              font-weight:600;
              text-decoration:underline;
              color:$black;
            }
          }
        }
        &.js-open{
          max-height:100000px;
          opacity:1;
          transition: all 500ms;
          fieldset{
            height:auto;
          }
        }
      }
      .content-button-wrapper{
        position:relative;
        min-height:45px;
        text-align: center;
        button.content-button{
          font-family: "Archer A", "Archer B";
          font-size:20pt;
          border-radius:0;
          border:none;
          padding:0px 25px 5px;
          background:$pink;
          margin:0 auto;
          color:$white;
          width:auto;
        }
      }
    }
    .assocites-wrapper{
      margin-top:25px;
      .associate-img-wrapper{
        padding: 0 2px 0 0;
        &:last-child{
          padding:0;
        }
      }
    }
  }

  .competition-modal-wrapper{
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left:0;
    width: calc(100% + 15px) ;
    z-index: -1;
    opacity:0;
    transition:all 500ms;
    background:rgba($black,0.5);
    &.open{
      z-index: 10000;
      opacity: 1;
    }
    .competition-modal{
      bottom: -100%;
      position: absolute;
      width: 100%;
      transition:bottom 500ms;
      padding:15px;
      margin-left:0;
      height:250px;
      overflow:scroll;
      left: 0;
      margin: 0 auto;
      right: 0;
      @media all and (min-width: 480px) {
        height:auto;
      }
      @media all and (min-width: 615px) {
        width:615px;
        margin-left:15px;
      }
      &.open{
        bottom:0;
        left: 0;
        margin: 0 auto;
        right: 0;
        transition:bottom 500ms;
        @media all and (min-width: 480px) {
          bottom:33%;
        }
      }
      .modal-inner{
        position:relative;
        .close{
          position:absolute;
          top:0px;
          right:6px;
          width:40px;
          height:40px;
          border:none;
          background:url(../img/structure/share-close-icon.png);
          @media all and (min-width: 480px) {
            right:0;
          }
        }
        .modal-content{
          overflow:scroll;
          max-height:100%;
          @media all and (min-width: 480px) {
            max-height:254px;
          }
        }
      }
      &.terms_modal{
        background:#999999;
        margin:0 auto;
        left:0;
        right:0;
        overflow:scroll;
        height:100%;
        color:$white;
        @media all and (min-width: 480px) {
          height:auto;
        }
        .modal-inner{
            font-family: 'SinkinSans';
            font-weight:400;
            font-size:10pt;
            line-height:20pt;
            padding:15px 55px 15px 15px;
            @media all and (min-width: 480px) {
              padding:15px 85px 15px 15px;
            }
          h2{
            font-family: "Archer A", "Archer B";
            font-size:20pt;
            line-height:0;
            text-align:center;
            margin-top:8px;
            padding-bottom:10px;
          }
        }
      }
      &.success_modal{
        background:$white;
        height:275px;
        overflow:scroll;
        margin:0 auto;
        left:0;
        right:0;
        color:$white;
        &.open{
          bottom:33%;
        }
        .modal-inner{
            font-family: 'SinkinSans';
            font-weight:400;
            font-size:10pt;
            line-height:20pt;
            padding:15px;
            position:relative;
            height:100%;
            text-align:center;
          h2{
            font-family: "Archer A", "Archer B";
            font-size:27pt;
            line-height:32.4pt;
            position:absolute;
            color:$pink;
            top:50%;
            transform:translateY(-50%);
            left:0;
            right:0;
          }
        }
      }
    }
  }
}

.wrapper-block{
  height:100%;
  width:100%;
  overflow: hidden;
  position:absolute;
}