.prev-next-nav {
  z-index: 200;
  position: fixed;
  top: 365px;
  width: 100%;

  @media all and (min-width: 480px) {
    top: 344px;
  }

  a.desktop-nav {
    display:none;
      @media all and (min-width: 480px) {
        display:inline-block;
        position:absolute;
        top:59%;
        z-index: 1;
        background:$white;
        width:55px;
        height:55px;
        font-size: 11px;
        line-height:16.77pt;
        font-family: 'Open Sans', sans-serif;
        font-weight:500;
        text-align:center;
        color:$black;
      }
      i.icon{
        display: block;
        width: 32px;
        height: 32px;
        text-align:center;
        margin: 0 auto;
      }
      &.prev{
        left:0;
        i.icon {
          @include icons-sprite(arrow-left-black-icon);
        }
      }
      &.next{
        right:0px;
        i.icon {
          @include icons-sprite(arrow-right-black-icon);
        }
    }
  }
}

.narrow-container a.desktop-nav{
  top:50%;
}