.component.expert-tip {
	.heading {
		font-family: 'Archer';
		font-weight: 400;
		font-size: 30px;
		font-size: 3rem;
		line-height: 30px;
		line-height: 3rem;
		color: $pink;
	}

	.text {
		font-family: 'MajesticBanner';
		font-weight: 800;
		font-size: 25px;
		font-size: 2.5rem;
		line-height: 31px;
		line-height: 3.1rem;
		margin-top: 5px;
	}

	.author {
		font-family: 'SinkinSans';
		font-weight: 400;
		font-size: 13px;
		font-size: 1.3rem;
		line-height: 25px;
		line-height: 2.5rem;
		margin-top: 20px;
	}
}