.component.expert-advice {
	position: relative;
	background: rgba($grey,0.3);
	border-bottom: 5px solid $green;
	margin-bottom: 40px;
	margin-left: -20px;
	margin-right: -20px;
	padding-bottom: 40px;

	@media all and (min-width: 480px) {
    margin-left: 0;
    margin-right: 0;
  }

	.heading {
		font-family: "Archer A", "Archer B";
		font-weight: 400;
		font-size: 20px;
		font-size: 2rem;
		line-height: 30px;
		line-height: 3rem;
		color: $black;
		background: $green;
		text-align: center;
		display: block;
	}

	.pic {
		float: left;
		max-width: 105px;
		border-radius: 50px;
		margin: 10px 7px;
		vertical-align: top;
	}

	.content {
		margin: 15px 0 0 0;
		vertical-align: top;
	}

	.js-to-show{
		padding:15px 105px 15px 120px;
		display:none;
	}

	.name, .title, .text {		
		font-family: "Archer A", "Archer B";
		font-size: 20px;
		font-size: 2rem;
		line-height: 24px;
		line-height: 2.4rem;
		text-align: left;
		display: block;
	}

	.name, .title {
		font-weight: 800;
		font-style: italic;
	}

	.text {
		font-weight: 400;
		color: $green;
	}

	.read-more { /* read more button */
      position: absolute;
      bottom: -47px;
      left: 0;
      right: 0;
      width: 60px;
      height: 90px;
      margin: 0 auto;
      padding: 20px 10px 28px;
      font-family: 'SinkinSans';
      font-weight: 500;
      font-size: 12px;
      font-size: 1.2rem;
      line-height: 13px;
      line-height: 1.3rem;
      max-width: 60px;
      color: $white;
      /* text-align: center; */
      @include font-smoothing(subpixel-antialiased);
      overflow: hidden;
      transition:all 500ms;

      &:before{
        content: "";
        position: absolute;
        width:60px;
        height:90px;
        z-index:0;
        top:0;
        left:0;
        background: url(../img/components/bg-read-more.png) no-repeat scroll center center / contain;
      }

      .icon {
        position: absolute;
        bottom:20px;
        left:0;
        width: 100%;
        height: 20px;
        text-align: center;

        &:after {
          content: '+';
          font-family: 'SinkinSans';
          font-weight: 300;
          font-size: 24px;
          font-size: 2.4rem;
          line-height: 14px;
          line-height: 1.4rem;
          color: $white;
          text-decoration: none;
          transition:all 500ms;
        }        
        display: block;
      }

      span {
        text-decoration: none;
        color: $white;
      }
    }

//

  &.read-more {

    &.expanded,&.hold-expanded {
      .more { 
        display: none;
      }
      .less {
        display: block;
        position: absolute;
        top: 20px;
        left: 0;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      }
      .icon {
        top: auto;
        bottom: 20px;
      }
      .read-more .icon:after {
        content: '-';
      }
    }   

    .read-more {
      display: inline-block;      
    }

    .more, .less {
      display: block;
      position: relative;
      text-align: center;
    }

    .less {display: none;}
  }

	.hold-expanded .read-more {
	  padding-bottom: 15px;
	  -webkit-transform: rotate(180deg);
	  -moz-transform: rotate(180deg);
	  -ms-transform: rotate(180deg);
	  -o-transform: rotate(180deg);
	  transform: rotate(180deg);
	}
	.read-more.expanded .read-more {
	  padding-bottom: 15px;
	}
}