.component.footnote {
	.footnote {
		font-family: 'MuseoSans300';
		font-weight: 300;
		font-style: italic;
		font-size: 13px;
		font-size: 1.3rem;
		line-height: 16px;
		line-height: 1.6rem;
		margin-top: 10px;
		padding-top: 10px;
		border-top: 1px solid #000;
	}
}