.component.hack-feature {
	margin-bottom: 40px;

	p.header {
		display: inline-block;
		margin-bottom: 15px;
		padding: 3px 5px;
		font-family: 'Archer';
	  font-weight: 400;
	  font-style: normal;
	  font-size: 15px;
		font-size: 1.5rem;
		line-height: 15px;
		line-height: 1.5rem;
		color: $white;
		text-transform: uppercase;
		background-color: $bluemedium;
	  font-variant-numeric: lining-nums;
	  -moz-font-feature-settings: "lnum";
	  -webkit-font-feature-settings: "lnum";
	  font-feature-settings: "lnum";

	  @media all and (min-width: 480px) {
			padding: 5px;
			font-size: 25px;
			font-size: 2.5rem;
		}
	}

	p.standfirst {
		margin-bottom: 25px;
		font-family: 'Archer';
	  font-weight: 800;
	  font-style: italic;
		font-size: 20px;
		font-size: 2rem;
		line-height: 24px;
		line-height: 2.4rem;
		color: $bluemedium;

		@media all and (min-width: 480px) {
			font-weight: 400;
			font-size: 25px;
			font-size: 2.5rem;
			line-height: 30px;
			line-height: 3rem;
		}
	}
}