.header-image {
  width: 100%;
  margin-top: 62px;
}

.container .header-image {
  .owl-item {
    width: inherit !important;
  }
 }

.header-image, .owl-item .item {
  height: 207px;  
  overflow: hidden;
  @media (min-width: 768px) {    
    height: 475px;
  }
  @media (min-width: 1024px) {    
    height: 649px;
  }
}

.header-image {
  .owl-item {
    // width: 100vw !important;
  }

  .owl-controls, .owl-dots {
    position: relative;
    top: -32px;
    margin: 0;
    text-align: center;
    @media (min-width: 1024px) {    
      top: -42px;
    }
    .owl-page, .owl-dot {
      &.active span {
        background: $pink;
      }            
      span {
        width: 8px;
        height: 8px;
        margin: 5px 7px;
        opacity: 1;
        filter: none;
        background: $white;
        display: block;
        border-radius: 20px;
        @media (min-width: 1024px) {    
          width: 17px;
          height: 17px;
        }
      }
    }
  }
}