.holding-page {
	.container {
		background: transparent;
	}
}

.hp-content {
	text-align: center;
	max-width: 594px;
	margin: 0 auto;


	.hp-logo {
		width: 138px;
		margin: 0 auto;

		@media all and (min-width: 480px) {
			width: 240px;
		}
	}

	h2 {
		font-family: 'MajesticBanner';
		font-weight: 400;
		font-size: 60px;
		font-size: 6rem;
		line-height: 30px;
		line-height: 3rem;
		color: #ff6600;
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid $black;
		display: inline-block;

		@media all and (min-width: 480px) {
			padding-bottom: 23px;
		}
	}

	p:not(.push), a {
		font-family: 'SinkinSans';
		font-weight: 500;
		font-size: 13px;
		font-size: 1.3rem;
		line-height: 18px;
		line-height: 1.8rem;
		margin-bottom: 20px;

		@media all and (min-width: 480px) {
			font-size: 18px;
			font-size: 1.8rem;
			line-height: 23px;
			line-height: 2.3rem;
		}
	}

	a {
		margin-bottom: 0;
		font-weight: 700;
		color: $black;

		&:hover, &:focus, &:active {
			filter: alpha(opacity=50);
			opacity: 0.5;
		}
	}
}
