.component.list-one {
	a {
		&:hover, &:active, &:focus {
			filter: alpha(opacity=50);
			opacity: 0.5;
			color: $blue;

			span {
				color: $black;
			}
		}
	}

	&.style2 {
		h4, .number {			    
    	font-family: 'MajesticBanner';
    	font-style: italic;
    	font-size: 32px;
    	font-size: 3.2rem;
    	@media all and (min-width: 480px) {
				font-size: 38px;
    		font-size: 3.8rem;
    	}    	
		}
	}

	ol li {
		list-style-type: none;
		font-family: 'Archer';
	  font-weight: 800;
	  font-style: normal;
		font-size: 25px;
		font-size: 2.5rem;
		color: $red;

		span.number {
			display: none;
		}

		h4 {
			display: initial;
			margin-bottom: 8px;
			padding: 0;
			text-transform: none;
			border: none;
		}

		.top, .bottom {
			display: none;
			margin: 22px -20px;

			@media all and (min-width: 480px) {
		    margin-left: 0;
		    margin-right: 0;
	  	}
		}

		p {
			color: $black;
		}
	}
}

.component.list-one.show-numbers {
	ol li {
		span.number {
			display: initial;
		}
	}
}

.component.list-one.show-image-above {
	.top {
		display: block;
	}
}

.component.list-one.show-image-below {
	.bottom {
		display: block;
	}
}