.component.mobile-nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 6px 20px;
	border-bottom: 1px solid $black;
	background: $grey;
	transition: all 250ms ease;

	.center-block {
		width: 32%;
		text-align: center;
	}

	.pull-right {
		position: relative;
    margin-top: -46px;
	}

	a.cta {
		i.icon {
			display: block;
			width: 32px;
			height: 32px;
			margin: 0 auto;
		}

		span {
			display: block;
			margin-top: 3px;
			text-decoration: none;
		}
	}

	a.prev {
		i.icon {
			@include icons-sprite(arrow-left-black-icon);
		}
	}

	a.share {
		i.icon {
			@include icons-sprite(share-icon);
		}
	}

	a.next {
		i.icon {
			@include icons-sprite(arrow-right-black-icon);
		}
	}

	@media all and (min-width: 480px) {
		display: none;
  }
}

.scrolled-bottom .component.mobile-nav {
	bottom: 30px;
}