.component.product-list {
	.product {
		.image {
			border-top: 1px solid $black;

			img {
				margin: 0 auto;
			}
		}

		.info {
			padding: 12px 0 30px;
			text-align: center;
			border-top: 1px solid $black;

			.number {
				display: block;
				margin: 0 auto 10px;
				font-family: 'MajesticBanner';
			  font-weight: 400;
			  font-style: italic;
			  font-size: 52px;
			  font-size: 5.2rem;
			  line-height: 38px;
			  line-height: 3.8rem;
			}

			.title {
				display: inline-block;
				margin-bottom: 4px !important;
				padding: 4px;
				font-family: 'Archer';
			  font-weight: 400;
			  font-style: normal;
			  font-size: 15px;
			  font-size: 1.5rem;
			  line-height: 15px;
			  line-height: 1.5rem;
			  color: $white;
			  text-transform: uppercase;
			  background: $peach;
			}

			.author {
				display: block;
				font-weight: 700;
			}
		}
	}
}