.component.product-grid {
	.row {
		margin: 0 -20px;
		border-top: 1px solid $black;

		@media all and (min-width: 480px) {
      margin: 0;
    }

		> div {
			float: none;
			display: inline-block;
			padding: 0;
			vertical-align: top;

			@media all and (min-width: 480px) {
	      float: left;
    		display: inherit;
	      padding: 25px 10px;
	      border-right: none;
	    }

	    .product:before {
				display: none;
				content: "";
				position: absolute;
				bottom: -1px;
				left: 50%;
				width: 54px;
				height: 25px;
				margin-left: -27px;
				@include icons-sprite(product-grid-triangle-icon);
				@media all and (min-width: 480px) {
	        display: none;
	      }
			}

			.product {
				.image {
					height: 190px;
					overflow: hidden;
					.toggle {
						position: absolute;
						top: 5px;
						right: 5px;
						width: 40px;
						height: 40px;
						z-index:1;
						@include icons-sprite(product-grid-plus-icon);
						@media all and (min-width: 480px) {
			        display: none;
			      }
					}

					img {
						width: auto;
						max-height: 190px;
						max-width:90%;
						margin: 0 auto;
						@media all and (min-width: 480px) {
							max-width: 100%;
						}
					}
				}
			}
		}

		.active {
			.product {
				.image {
					.toggle {
						@include icons-sprite(product-grid-minus-icon);
					}
				}
			}
		}

		.info {
				display: none;
				float: left;
				width: 100%;
				margin: 0;
				padding: 20px 15px 35px;
				border-top: 1px solid $black;
				@media all and (min-width: 480px) {
	        float: none;
	        display: block;
	        padding: 0;
	        border: none;
	      }

	      h4 {
					display: none;
					margin-bottom: 4px;
					padding: 0;
	      	border: none;
	      	text-transform: initial;
	      	color: $peach;
	      }

	      p {
	      	font-size: 12px;
	      	font-size: 1.2rem;
	      	line-height: 20px;
	      	line-height: 2rem;
	      }
			}
	}

	.row:last-child {
		border-bottom: 1px solid $black;
	}

	.row > div:first-child {
			border-right: 1px solid $black;

			@media all and (min-width: 480px) {
        border-right: none;
      }
	}

}

.component.product-grid.show-title {
	.info {
		h4 {
			display: block;
		}
	}
}

.component.product-grid.mobile-layout {
	.row {
		> div {
			margin: 0 -1px;
		}
	}
}

// Add to Cart notice
.add-basket-notice {
	display: block;
	position: fixed;
	width: 100%;
    left: auto;
    right: auto;
    text-align: center;
    height: 0;
    top:0;
    background-color: $pink;
    // top: 58px;
    z-index: -1;
    max-width: 1000px;
     -webkit-transition: all 200ms ease-out 0.2s;
    -moz-transition: all 200ms ease-out 0.2s;
    -o-transition: all 200ms ease-out 0.2s;
    transition: all 200ms ease-out 0.2s;
    opacity: 0;
	div {
        position: absolute;
        top: 12px;
        right: 6px;
        width: 40px;
        height: 40px;
        background: url(../img/structure/share-close-icon.png);
        background-position: center right;
        &:hover {
        	background-position: center left;
        }
    }
    p {
    	margin: 20px auto 0;
    	color: #fff;
    	font-size: 10px;
    	line-height: 14px;
    	font-weight: 600;
    	width: 65%;
    }
    &.abn-display {
    	// display: block;
    	height: 60px;
    	opacity: 1;
    	z-index: 100;
    	top:58px;
    }
    @media (min-width: 768px) {
    	width: 100%;
    	p {
    		width: 100%;
    	}
    }
}