.component.pull-out-two {
  margin-left: -20px;
  margin-right: -20px;
  padding: 30px 15px 15px;
  background: rgba($lilacTint, 0.1);

  @media all and (min-width: 480px) {
    padding: 25px;
  }

  @media all and (min-width: 1024px) {
    margin-left: 0;
    margin-right: 0;
  }

  h3 {
    color: $purple;
  }

  p.standfirst {
    margin-bottom: 20px;
    font-size: 13px;
    font-size: 1.3rem;
  }

  .row {
    padding: 15px 0 10px;

    p {
      margin-bottom: 12px;

      a {
        font-weight: normal;
        color: $black;
        text-decoration: underline;
      }
    }

    @media all and (min-width: 768px) {
      margin: 0;
      border-top: 1px solid $black;

      &:last-child {
        margin-bottom: 0;
        border-bottom: 1px solid $black;
      }
    }

    img.profile {
      margin: 6px 10px 0 0;
    }

    img.product {
      float: none !important;
      margin: 0 auto;
      @media all and (min-width: 768px) {
        margin: 0;
      }
    }
  }
}