.component.pull-out-one {
  margin-left: -20px;
  margin-right: -20px;
  padding: 15px 15px 25px;
  background: rgba($pinkTint, 0.1);  
  @media all and (min-width: 480px) {
    padding: 40px 60px;
    h4, p.standfirst {
      text-align: center;
    }
  }
  @media all and (min-width: 1024px) {
    margin-left: 0;
    margin-right: 0;
    padding: 40px 100px;
  }
  img {
    display: none;
    margin: 15px auto;
  }
  ol {
    counter-reset: li;
    margin-left: 0;
    padding-left: 0;

    @media all and (min-width: 480px) {
      margin: 0 -45px;
    }

    @media all and (min-width: 1024px) {
      margin: 0 -85px;
    }
  }
  ol li {
    &:before {
      content: counter(li);
      counter-increment: li;
      float: left;
      z-index: 1;
      position: relative;
      width: 40px;
      height: 40px;
      margin: 4px 6px 0 0;
      font-family: 'MajesticBanner';
      font-weight: 400;
      font-style: italic;
      font-size: 25px;
      font-size: 2.5rem;
      line-height: 40px;
      line-height: 4.0rem;
      text-align: center;
      color: $black;
      border-radius: 50%;
    }
    position: relative;
    margin-top: 35px;
    list-style: none;

    p {
      display: inline;
    }
  }

  .read-more { /* read more button */
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: url(../img/components/bg-read-more.png) no-repeat center transparent;
      background-size: contain;
      padding: 15px 10px 23px;
      font-family: 'SinkinSans';
      font-weight: 500;
      font-size: 13px;
      font-size: 1.3rem;
      line-height: 15px;
      line-height: 1.5rem;
      max-width: 60px;
      color: $white;
      text-align: center;
      display: none;
      @include font-smoothing(subpixel-antialiased);

      .icon {
        &:after {
          content: '+';
          font-family: 'SinkinSans';
          font-weight: 300;
          font-size: 24px;
          font-size: 2.4rem;
          line-height: 9px;
          line-height: .9rem;
          color: $white;
          text-decoration: none;
        }        
        display: block;
      }

      span {
        text-decoration: none;
        color: $white;
      }
    }

  &.read-more {

    #wrapper & {
      margin-bottom: 50px;
      padding-bottom: 50px;
    }

    &.expanded {
      .more { display: none; }
      .less { display: block; }
      .read-more .icon:after {
        content: '-'
      }
    }
    .preview-content {
      // margin-bottom: 20px;
    }
    .js-to-show {
      display: none;
    }   

    .read-more {
      display: inline-block;      
    }

    .more, .less {
      display: block;
    }

    .less {display: none;}
  }
}

.component.has-icon ol li {
  &:before {
    content: "";
    height: 37px;
    border-radius: 0;
    @include icons-sprite(heart-icon);
    background-color: transparent;
  }
}

.component.show-numbers ol li {
  &:before {
    background-color: $aqua;
  }
}

.component.has-image img {
    display: block;
}