blockquote.component.quote {
  &:before,
  &:after {
  	content: "";
  	position: absolute;
  	left: 50%;
  	width: 56px;
  	height: 40px;
  	margin-left: -28px;
  	background-repeat: no-repeat;
  	@media all and (min-width: 480px) {
    	left: 0;
    	margin: 0;
  	}
  }
  &:before {
  	top: 0;
    @include icons-sprite(quote-left-icon);
  }
  &:after {
  	bottom: 0;
  	@include icons-sprite(quote-right-icon);
  }
  position: relative;
  padding: 60px 0;
  font-family: 'Archer'; 
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: 100;
  font-style: normal;
  line-height: 33px;
  line-height: 3.3rem;
  letter-spacing: -0.01em;
  text-align: center;
  color: $pink;
  @media all and (min-width: 480px) {
    text-align: left;
    line-height: 40px;
    line-height: 4.0rem;
  }
  @media all and (min-width: 1024px) {
    line-height: 33px;
    line-height: 3.3rem;
  }
}