.component.ratings-banner {
	width: 320px;
	padding: 20px;
	background: $white;
	box-shadow: -6px 7px 19px -7px rgba(50,50,50,0.75);
	position: fixed;
	top: -100%;
	left: 0;
	right: 0;
	margin: 0 auto;
	transition: top 1s ease;

	&.show {
		top: 250px;
	}

	.close {
	  position: absolute;
	  top: 6px;
	  right: 6px;
	  width: 40px;
	  height: 40px;   
	  background: url(../img/structure/share-close-icon.png);
	}

	h3 {
		font-family: "Archer A", "Archer B";
		font-weight: 700;
		font-size: 27px;
		font-size: 2.7rem;
		line-height: 32px;
		line-height: 3.2rem;
		color: #d5016b;
		text-align: center;
	}

	p {

		&.one {
			font-family: 'SinkinSans';
			font-weight: 400;
			font-size: 12px;
			font-size: 1.2rem;
			line-height: 20px;
			line-height: 2rem;		
			margin-bottom: 20px;
		}
		&.two {
			font-family: "Archer A", "Archer B";
			font-weight: 700;
			font-size: 18px;
			font-size: 1.8rem;
			line-height: 20px;
			line-height: 2rem;		
			margin-bottom: 15px;
		}

		text-align: center;
	}

	.rate {
		text-align: center;
	}

	.poor, .great {
		font-family: "Archer A", "Archer B";
		font-weight: 500;
		font-size: 18px;
		font-size: 1.8rem;
		line-height: 20px;
		line-height: 4.3rem;	
	}

	.poor {
		float: left;
	}

	.great {
		float: right;
	}
	.stars {
		display: inline-block;
	}

	.btn {
		background: #d5016b;
		color: $white;
		padding: 7px 0;
    	display: block;
    	margin: 20px auto 0;
    	position: static;
    	width: 60%;
    	border: 0;
    	border-radius: 5px;

		&:hover, &:focus, &:active {
			color: $black;
		}
	}

// Star Ratings
	.rating-loading {
	    width: 25px;
	    height: 25px;
	    font-size: 0;
	    color: #fff;
	    background: transparent url('../img/loading.gif') top left no-repeat;
	    border: none;
	}

	/*
	 * Stars
	 */
	.rating-container .rating {
	    cursor: default;
	    position: relative;
	    vertical-align: middle;
	    display: inline-block;
	    overflow: hidden;
	    white-space: nowrap;
	}

	.rating-disabled .rating {
	    cursor: not-allowed;
	}

	.rating-container .star {
	    display: inline-block;
	    margin: 0 3px;
	    text-align: center;
	}

	.rating-container .empty-stars {
	    color: #aaa;
	}

	.rating-container .filled-stars {
	    position: absolute;
	    left: 0;
	    top: 0;
	    margin: auto;
	    color: #fde16d;
	    white-space: nowrap;
	    overflow: hidden;
	    -webkit-text-stroke: 1px #777;
	    text-shadow: 1px 1px #999;
	}

	.rating-rtl {
	    float: right;
	}

	.rating-animate .filled-stars {
	    transition: width 0.25s ease;
	    -o-transition: width 0.25s ease;
	    -moz-transition: width 0.25s ease;
	    -webkit-transition: width 0.25s ease;
	}

	.rating-rtl .filled-stars {
	    left: auto;
	    right: 0;
	    -moz-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
	    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
	    -o-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
	    transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
	}

	.rating-rtl.is-star .filled-stars {
	    right: 0.06em;
	}

	.rating-rtl.is-heart .empty-stars {
	    margin-right: 0.07em;
	}

	/**
	 * Sizes
	 */
	.rating-xl {
	    font-size: 4.89em;
	}

	.rating-lg {
	    font-size: 3.91em;
	}

	.rating-md {
	    font-size: 3.13em;
	}

	.rating-sm {
	    font-size: 2.7em;
	}

	.rating-xs {
	    font-size: 2em;
	}

	.rating-xl {
	    font-size: 4.89em;
	}

	/**
	 * Clear
	 */
	.rating-container .clear-rating {
	    color: #aaa;
	    cursor: not-allowed;
	    display: inline-block;
	    vertical-align: middle;
	    font-size: 60%;
	}

	.clear-rating-active {
	    cursor: pointer !important;
	}

	.clear-rating-active:hover {
	    color: #843534;
	}

	.rating-container .clear-rating {
	    padding-right: 5px;
	}

	/**
	 * Caption
	 */
	.rating-container .caption {
	    color: #999;
	    display: inline-block;
	    vertical-align: middle;
	    font-size: 60%;
	    margin-top: -0.6em;
	}

	.rating-container .caption {
	    margin-left: 5px;
	    margin-right: 0;
	}

	.rating-rtl .caption {
	    margin-right: 5px;
	    margin-left: 0;
	}

}