.component.related-articles {
  margin-left: -20px;
  margin-right: -20px;
  padding: 15px 20px 20px;
  margin-bottom:15px;
  background: rgba($grey, 0.2);

  @media all and (min-width: 1024px) {
    margin-left: 0;
    margin-right: 0;
  }

  h4 {
    font-family: "Archer A", "Archer B";
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    font-size: 2rem;
    text-align: center;
    text-transform: none;
    line-height: normal;
    border: none;
    padding: 0;
    @media all and (min-width: 480px) {
      font-size: 30px;
      font-size: 3rem;
    }
  }

  .item {
    height: auto;
    margin: 0 5px;
    @media all and (min-width: 480px) {
      margin: 0 10px;
    }
    @media (min-width: 1024px) {    
      margin: 0 6px;
    }

    img {
      position: relative !important;
    }

    .info {
      margin-top: 20px;
      @media all and (min-width: 480px) {
        margin-top: 10px;
      }
      .heading {
        font-family: "Archer A", "Archer B";
        font-weight: 600;
        font-style: normal;
        font-size: 12px;
        font-size: 1.2rem;
        line-height: 5px;
        line-height: 0.5rem;
        color: $pink;
        text-transform: uppercase;
        margin-bottom: 10px;
        @media all and (min-width: 480px) {
          font-size: 17px;
          font-size: 1.7rem;
          line-height: normal;
          text-transform: none;
        }
      }

      .title {
        font-size: 22px;
        font-size: 2.2rem;
        line-height: 20px;
        line-height: 2rem;
        text-align: left;
        @media all and (min-width: 480px) {
          font-size: 27px;
          font-size: 2.7rem;
          line-height: 25px;
          line-height: 2.5rem;
        }
      }
    }
  }
}