p.component.standfirst.style1 {
  font-family: 'Archer';
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  line-height: 25px;
  letter-spacing: 0.025em;
  text-align: center;
  margin-bottom: 15px !important;
}