p.component.standfirst.style1 {
  font-family: "Archer A", "Archer B";
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: 700;
  font-style: italic;
  line-height: 25px;
  line-height: 2.5rem;
  letter-spacing: 0.025em;
  text-align: center;
  margin-bottom: 60px !important;
  &.underline{
    border-bottom:5pt solid #999999;
    padding-bottom:20px;
    margin-bottom:20px;
  }
}