$color-black: #000000; 
$color-white: #ffffff;
$color-dark-pink: #B8237B; 

$mob-land : 600px;
$tab-port : 768px;

.ttool {
    position: relative;
    max-width: 642px;
    margin: 0 auto;
    overflow: hidden;
    height: 380px;
    @media (min-width: $mob-land) {
        height: 530px;
    }
    .tt-header {
        position: absolute;
        top: 0;
        height: 40px;
        width: 100%;
        background-color: $color-black;
        display: block;
        color: $color-white;
        z-index: 100;
        .tt-left-nav {
            float: left;
            margin-top: 10px;
            padding-left: 20px;
            font-size: 11px;
            line-height: 14px;
            font-family: 'SinkinSans', helvetica, arial;
            font-weight: 700;
            cursor: pointer;
            .back-chevron {
                background: url('../img/components/trend-tool/back-chevron.svg') no-repeat;
                background: url('../img/components/trend-tool/back-chevron.png') no-repeat;
                height: 15px;
                width: 15px;
                display: inline-block;
                vertical-align: top;
            }
        }
        .tt-right-nav {
            float: right;
            margin-top: 8px;
            padding-right: 20px;
            font-family: 'SinkinSans', helvetica, arial;
            font-size: 13px;
            line-height: 20px;
            font-weight: 700;
        }
        clear: both;
    }
    .tt-status-bar {
        width: 100%;
        position: absolute;
        top: 40px;
        z-index: 100;
        .tt-bar {
            height: 10px;
            background-color: transparent;
            float: left;
            -webkit-transition: all 500ms ease-out 0.2s;
            -moz-transition: all 500ms ease-out 0.2s;
            -o-transition: all 500ms ease-out 0.2s;
            transition: all 500ms ease-out 0.2s;
            &.tt-show {
                background-color: $color-dark-pink;
            }
        }
    }
    .tt-sections {
        min-height: 100%;
        width: 100%;
        height: inherit;
        position: relative;
        z-index: 50;
        .tt-section {
            width: 100%;
            min-height: 100%;
            height: inherit;
            display: block;
            // left:-175%;
            z-index: 0;
            -webkit-transition: all 500ms ease-out 0.2s;
            -moz-transition: all 500ms ease-out 0.2s;
            -o-transition: all 500ms ease-out 0.2s;
            transition: all 500ms ease-out 0.2s;
            position: absolute;
            opacity:0;
            &.tt-active {
                // display: block;
                left: 0;
                opacity: 1;
                z-index: 1;
                .options-wrapper {
                    .options {
                        .option {
                            opacity: 1;
                            transform: rotateY(360deg);
                        } 
                     }  
                }  
            }
        }
    }
    // Section content
    .tts-inner {
        .tts-content {
            background: $color-white;
            padding-top: 50px;
        }
    }
    .tts-intro {
        display: table;
        height: inherit;
        min-height: 100%;
        width: 100%;
        cursor: pointer;
        .tts-intro-inner {
            height: inherit;
            min-height: 100%;
            background: $color-white;
            display: table-cell;
            vertical-align: middle;
            img {
                max-width: 250px;
                margin: 0 auto;
            }
            p {
                font-size: 28px;
                line-height: 18px;
                margin: 15px auto 0;
                color: $color-black;
                text-align: center;
                font-family: 'Archer A, Archer B';
                font-style: italic;
                font-weight: 400;
            }
            @media(min-width:$mob-land) {
                img {
                    max-width: 384px;
                }
                p {
                    font-size: 47px;
                    line-height: 30px;
                }
            }
        }
    }
    .options-wrapper{
        margin: 50px 0 0 0;
        .header {
            text-align: center;
            font-family: 'SinkinSans', helvetica, arial;
            font-weight: 600;
            text-decoration: underline;
            font-size: 14px;
            line-height: 20px;
            color: $color-black;
            margin-bottom: 5px;
            margin-top: 60px;
        }
        .options {
            width:100%;
            .mCSB_container {
                max-width: 462px;
                margin: 0 auto;
                padding-right: 10px;
            }
            .mCSB_scrollTools {
                opacity: 1;
            }
            .option-wrapper {
                margin: 10px 0 10px;
                float: left;
                width: 50%;
            }
            .option {
                margin-bottom: -9999px;
                height: 120px;
                width: 120px;
                border-radius: 100px;
                margin: 0 auto;
                display: table;
                cursor: pointer;
                -webkit-transition: all 800ms ease-out 0.4s;
                -moz-transition: all 800ms ease-out 0.4s;
                -o-transition: all 800ms ease-out 0.4s;
                transition: all 800ms ease-out 0.4s;
                transform: rotateY(320deg);
                opacity: 0;
                a {
                    text-align: center;
                    height: inherit;
                    display: table-cell;
                    vertical-align: middle;
                    font-size: 20px;
                    line-height: 20px;
                    font-family: 'Archer A, Archer B';
                    font-style: italic;
                    padding: 0 20px 0;
                    color: $color-white;
                }
            }
            // .option.appear {
            //     opacity: 1;
            //      transform: rotateY(360deg);
            // }
            @media(min-width:$mob-land) {
                .option-wrapper {
                    margin: 5px 0 8px;
                  }
                .option {
                    height: 201px;
                    width: 201px;
                    background: red;
                    border-radius: 100px;
                    margin: 0 auto;
                    a {
                        font-size: 27px;
                        line-height: 27px;
                        padding: 0 50px 0;
                    }
                }
                .mCSB_scrollTools {
                    opacity: 0;
                    -webkit-transition: all 500ms ease-out 0.2s;
                    -moz-transition: all 500ms ease-out 0.2s;
                    -o-transition: all 500ms ease-out 0.2s;
                    transition: all 500ms ease-out 0.2s;
                    margin-bottom: 10px;
                }
                &:hover {
                    .mCSB_scrollTools {
                        opacity: 1;
                    }
                }
            }
        }
    }
    // Results
    .tabs-below {
        height: inherit;
        .nav-tabs {
            position: absolute;
            bottom: 0;
            background-color: transparent;
            border-radius: 0;
            height: 57px;
            border-bottom: none;
            width: 100%;
            li {
                position: relative;
                width: 33.3333%;
                a {
                    border-left: 1px solid $color-white;
                    
                }
                span {
                    display: none;
                    position: absolute;
                    margin: 0 auto;
                    top: 0;
                    width: 100%;
                    text-align: center;
                    font-size: 30px;
                    line-height: 30px;
                    color: $color-black;
                }
            }
            li:first-child {
                a {
                    border-left: 0;
                }
            }
            a {
                margin-top:20px;
                border-radius: 0;
                background-color: $color-dark-pink;
                font-family: 'SinkinSans',helvetica, arial;
                font-weight: 500;
                font-style: normal;
                font-size: 12px;
                line-height: 12px;
                color: $color-white;
                border: none;
                margin-right: 0;
                text-align: center;
                padding: 7px 5px 18px;
                &:focus {
                    outline: none;
                    background-color: none;
                }
                &:hover {
                    background-color: rgba(0, 0, 0, 0.7); 
                }
                @media (min-width: $mob-land) {
                    padding: 10px 5px 15px;
                }
            }
            li.active {
                span {
                    display: block;
                }
                a {
                    background-color: $color-black;
                    &:hover,&:focus{
                        border: none;
                        outline: none;
                        color: $color-white;
                    }
                }
            }
            .hidden-on-mob {
                display: block;
            }
            @media (min-width: $mob-land) {
                li {
                    width: 50%;
                }
                .hidden-on-mob {
                    display: none;
                }
            }
        }
    }
        .heading {
            text-align: center;
            font-family: "SinkinSans",helvetica,arial;
            font-weight: 600;
            text-decoration: underline;
            font-size: 14px;
            line-height: 20px;
            color: #000;
            padding-top: 12px;
        }
        // Mobile image result
        .img-only {
            display: block;
            img { 
                padding: 5px 15px 15px; 
                margin: 18px auto 0;
                max-width: 293px;
                max-height: 265px;
            }
        }
        // Tablet and desktop
        .result-filter {
            display: none;
            .result-filter-nav{
                width: 100%;
                text-align: center;
                padding:0;
                margin: 10px 0;
                li {
                    list-style: none;
                    display: inline-block;
                    cursor: pointer;
                    margin: 0 2.5px;
                }
            }
            .result-filter-body-wrapper, .result-filter-copy-wrapper {
                float: left;
                width: 100%;
                .result-filter-body, .result-filter-copy { 
                    display: none;
                    &.rf-active {
                        display: block;
                    }
                }
                .result-filter-copy {
                    padding-right: 15px;
                    h3 {  
                        font-size: 12px;
                        line-height: 20px;
                        font-family: 'SinkinSans', helvetica, arial;
                        font-weight: 600;
                        text-transform: uppercase;
                        margin-top: 13px;
                    }
                    p {
                        font-size: 12px;
                        line-height: 20px;
                        font-family: 'SinkinSans', helvetica, arial;
                        font-weight: 400;
                    }
                }
            }
        }
        // Scrollable copy
        .scrollable-copy {
            font-size: 12px;
            line-height: 20px;
            font-size: 'SinkinSans', helvetica, arial;
            font-weight: 400;
            padding: 15px 5px 0 15px;
            .scrollable-copy-inner {
                padding-right: 55px;
            }
        }
        // Product carousel
        .tt-products-carousel {
            .tt-product {
                width: 100%;
                outline: none;
                padding-top: 0;
                .prod-img {
                    margin-top: 0;
                    img {
                        max-width: 135px;
                        margin: 0 auto;
                    }
                }
                .prod-img, .prod-copy {
                    width: 50%;
                    float: left;
                }
                .prod-copy {
                    font-size: 'SinkinSans', helvetica, arial;
                    font-size: 12px;
                    line-height: 20px;
                    font-weight: 300;
                    padding-right: 20px;
                    // padding-left: 20px;
                    padding-top: 10px;
                    text-align: left;
                    
                }
                @media (min-width: $mob-land) {
                    .prod-img {
                        margin-top: 10px;
                    }
                    .prod-copy {
                        text-align: center;
                        padding-right: 20px;
                        padding-left: 20px;
                        padding-top: 0;
                    }
                }
                .prod-add-to-cart-btn {
                    width: 100%;
                    text-align: center;
                    button {
                        background-color: #CAE0F5;
                        border: none;
                        color: #004990;
                        padding: 10px 20px;
                        border-radius: 3px;
                        margin: 20px 0;
                    }
                }
            }
            .slick-dots {
                padding: 0;
                text-align: center;
                li { 
                    height: 8px;
                    width: 8px;
                    background-color: #CCCCCC;
                    list-style: none;
                    margin:3px;
                    display: inline-block;
                    border-radius: 50px;
                    &.slick-active {
                        background-color: #FF0099;
                    }
                    button {
                        display: none;
                    }
                }
            }
        }
        @media (min-width: $mob-land) {
            .img-only {
                display: none;
            }
            .result-filter {
                display: block;
                .result-filter-body-wrapper {
                    width: 65%;
                    padding: 0 15px;
                }
                .result-filter-copy-wrapper {
                    width: 35%;
                }
            }
            clear: both;
            .tt-products-carousel {
                .tt-product {
                    width: 100%;
                    padding-top: 20px;
                    .prod-img, .prod-copy {
                        width: 100%;
                    }
                    .prod-img {
                        img {
                            max-width: 160px;
                        }
                    }
                    .prod-add-to-cart-btn {
                        width: 100%;
                    }
                }
            }
        }

    // Scroll styling
    .mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        width: 5px;
        border-radius: 0;
    }
    .mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail {
        border-radius: 0;
        background: #ccc;
        border: none;
        border-width: 0;
        width: 5px;
    }
    .mCSB_inside>.mCSB_container {
        margin-right: 15px;
    }
}

.ttool .result-filter .result-filter-nav li {
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.ttool .tabs-below .nav-tabs li a {
    border-left: 1px solid #fff;
}
.ttool .tabs-below .nav-tabs li:first-child a {
    border-left: none;
}