<div class="component advertorial  container-border-stripes">
	<div class="advertorial-inner">
		
		<h4 class="advertorial-head1">promotion</h4>
		
		<div class="body-copy col-md-6">
			<p class="component standfirst style1">Top-to-toe luxury</p>
			<span class="dropcap font2">T</span>ired winter skin? Invigorate mind and body with <b>Champneys Detox Seaweed &amp; Sea Salt Scrub, £12 (450g)</b>. Enriched with naturally occurring sea minerals, this luxe, exfoliating treat will leave skin silky soft and give you that 'just stepped out of a spa' feeling.
		</div> 

	    <div class="advertorial-product col-md-6">
		    <img src="HTMLResources/img/components/product-grid-image.jpg" alt="Image description" class="img-responsive center-block"/>
			<a class="btn" href="#">Add</a>
		</div>

		<div class="clearfix"></div>
	</div>
</div>