<div class="component product-carousel border-stripes">
	<p class="header">Four ways to wow him this <br>Valentine’s Day</p>
	<div id="js-product-carousel" class="owl-carousel">
	  <div class="item">
	    <img src="HTMLResources/img/components/list-three-product-image.jpg" alt="Image description" />
	    <h4>Bedside spritz</h4>
	    <p>Woken up in a sweat? Cool down with Avène Eau Thermale Thermal Water, <a href="#"><span>£3/300 points (50ml).</span></a> Mist it over your face for a quick refresh or spray onto pieces of kitchen roll and layer them up to make a cold compress to pop on your forehead.</p>
	    <a href="#" class="btn">Add</a>
	  </div>
	  <div class="item">
	    <img src="HTMLResources/img/components/list-three-product-image.jpg" alt="Image description" />
	    <h4>Bedside spritz</h4>
	    <p>Woken up in a sweat? Cool down with Avène Eau Thermale Thermal Water, <a href="#"><span>£3/300 points (50ml).</span></a> Mist it over your face for a quick refresh or spray onto pieces of kitchen roll and layer them up to make a cold compress to pop on your forehead.</p>
	    <a href="#" class="btn">Add</a>
	  </div>
	  <div class="item">
	    <img src="HTMLResources/img/components/list-three-product-image.jpg" alt="Image description" />
	    <h4>Bedside spritz</h4>
	    <p>Woken up in a sweat? Cool down with Avène Eau Thermale Thermal Water, <a href="#"><span>£3/300 points (50ml).</span></a> Mist it over your face for a quick refresh or spray onto pieces of kitchen roll and layer them up to make a cold compress to pop on your forehead.</p>
	    <a href="#" class="btn">Add</a>
	  </div>
	  <div class="item">
	    <img src="HTMLResources/img/components/list-three-product-image.jpg" alt="Image description" />
	    <h4>Bedside spritz</h4>
	    <p>Woken up in a sweat? Cool down with Avène Eau Thermale Thermal Water, <a href="#"><span>£3/300 points (50ml).</span></a> Mist it over your face for a quick refresh or spray onto pieces of kitchen roll and layer them up to make a cold compress to pop on your forehead.</p>
			<a href="#" class="btn">Add</a>
	  </div>
	  <div class="item">
	    <img src="HTMLResources/img/components/list-three-product-image.jpg" alt="Image description" />
	    <h4>Bedside spritz</h4>
	    <p>Woken up in a sweat? Cool down with Avène Eau Thermale Thermal Water, <a href="#"><span>£3/300 points (50ml).</span></a> Mist it over your face for a quick refresh or spray onto pieces of kitchen roll and layer them up to make a cold compress to pop on your forehead.</p>
	    <a href="#" class="btn">Add</a>
	  </div>
	</div>
</div>