<div class="component competition">
    
	<div class="content-wrapper" style="background-color: rgba(229,0,125,0.1);">
		<h2 class="component crosshead style9 text-center">Win! a good hair day</h2>

		<div class="content-intro component body-copy">
			<p><b>Couples who keep their hearts healthy together, stay together. So here are some top ticker tips for you</b></p>
			Kitsch is the name in laid-back boho chic – not only are its elastic hair ties kind to your locks, but they look stylish on your wrist, too. It’s little w onder they’ve been rocking the beauty world, where they’re firm favourites with celebs such as model Gigi Hadid and actress Hilary Duff. And we can’t get enough of Kitsch’s cute temporary tattoos, either. So whether you want an easy up ’do or fancy some pretty body art, enter our free prize draw. We have 150 Kitsch sets – containing Hair Ties (5-pack) and Temporary Tattoos 
			 – worth £14 each, to give away! 
		</div>
			<form>

				<div class="content-form">

					<fieldset class="form-group">
						<label for="inputfirstname">First name</label>
				    	<input type="text" class="form-control" id="inputfirstname" />
				  	</fieldset>

					<fieldset class="form-group">
						<label for="inputlastname">Last name</label>
				    	<input type="text" class="form-control" id="inputlastname" />
				  	</fieldset>

					<fieldset class="form-group">
						<label for="inputemail">Email</label>
				    	<input type="email" class="form-control" id="inputemail" />
				  	</fieldset>

					<fieldset class="form-group">
						<label for="inputtel">Tel no.</label>
				    	<input type="text" class="form-control" id="inputtel" />
				  	</fieldset>

				  	<div class="checkbox">
				    	<input type="checkbox" name="inputcontact" id="inputcontact" />
						<label> 
							I have provided my telephone number so that Boots Health &amp; Beauty may contact me if I’m the winner
				  	  </label>
				  	  <div class="clearfix"></div>
				  	</div>

				  	<div class="checkbox">
				    	<input type="checkbox" name="inputage" id="inputage" required />
						<label class="mandatory"> 
							I am over 18
				  	  </label>
				  	  <div class="clearfix"></div>

				  	</div>

				  	<div class="checkbox">
				    	<input type="checkbox" name="inputterms" id="inputterms" required />
						<label class="mandatory"> 
							I've read and accept the <a href="#" class="terms_modal_link">Terms &amp; Conditions</a>
				  	  </label>
				  	  <div class="clearfix"></div>
				  	</div>

				  	<div class="mandatory info">
				  		Mandatory fields. If you provide a tel. number this will only be used to contact you if you are the winner. Boots will not store or pass on your data for any other purpose.
				  	</div>

				</div>
				<div class="content-button-wrapper">
					<button type="button" class="content-button">Enter competition</button>
				</div>

			</form>

			<div class="assocites-wrapper">
				<div class="col-md-4 col-sm-4 col-xs-4 associate-img-wrapper">
					<img src="HTMLResources/img/components/header-image-1.jpg" class="img-responsive" alt="Image description">
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 associate-img-wrapper">
					<img src="HTMLResources/img/components/header-image-1.jpg" class="img-responsive" alt="Image description">
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 associate-img-wrapper">
					<img src="HTMLResources/img/components/header-image-1.jpg" class="img-responsive" alt="Image description">
				</div>
		  	  	<div class="clearfix"></div>
			</div>
	</div>		
	
	<div class="competition-modal-wrapper">
		<div class="competition-modal terms_modal">
			<div class="modal-inner">
				<button class="close" type="button"></button>
				<h2>Terms and Conditions</h2>
				<div class="modal-content">
					Style2. Henditiorem volorerumque nate solorep taspelesto ommolupiende pa senis et fugiata tiisime eossime et eate iur simus erem que dolorentiam esciiscid quatur aut optaque cullecto to expliqui ommolor estibusandae preprov iduntius etur? Iberibus, quis vel maion eos sequatur molluptatus. Ma qui num estrum fugiam cus non nimporr ovitaquibus voluptis maior sae lantis ium ea comnihit, sume eatis et fugit il molore, ommodi optae autem fugitas quam rem quist rest, conserf erectore optae 
				</div>
			</div>
		</div>

		<div class="competition-modal success_modal">
			<div class="modal-inner">
				<button class="close" type="button"></button>
				<h2>Thank you <br />for entering</h2> 
			</div>
		</div>	
	</div>	

</div>