<div class="component expert-tip with-bg" style="background-color: rgba(229,0,125,0.1);">
	<p class="crosshead">Expert tip crosshead</p>
	<p class="crosshead style2">Expert tip crosshead 2</p>
	<p class="crosshead style3">Expert tip crosshead 3</p>
	<p class="crosshead style4">Expert tip crosshead 4</p>
	<p class="crosshead style5">Expert tip crosshead 5</p>
	<p class="crosshead style6">Expert tip crosshead 6</p>
	<p class="crosshead style7">Expert tip crosshead 7</p>
	<p class="crosshead style8">Expert tip crosshead 8</p>
	<p class="crosshead style9">Expert tip crosshead 9</p>
	<p class="crosshead style3">Nail artist Sophie Harris-Greenslade at a recent launch</p>
</div>