<div class="component expert-advice read-more">
	<p class="heading">Expert Advice</p>
	<img src="HTMLResources/img/components/expert-advice-thumb.jpg" class="pic" alt="expert">

	<div class="content">
		<p class="name">Russell Peake,</p>
		<p class="title">Boots optometrist</p>
		<p class="text">‘Even perfect eyesight needs to be monitored’</p>
	</div>	

	<div class="js-to-show body-copy">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rutrum, mauris quis bibendum interdum, risus turpis imperdiet dolor, sollicitudin convallis sapien augue quis metus. Vestibulum erat leo, sagittis vitae auctor porta, fringilla vel erat. Vivamus eleifend, dolor in accumsan imperdiet, diam enim fermentum massa, ac congue orci mi et diam. Nunc non purus ultricies, fermentum sem in, vulputate ligula. Donec mollis est arcu, quis vulputate elit ornare in. Maecenas pharetra ex quis rhoncus commodo. Suspendisse aliquet a est a feugiat. Duis laoreet vestibulum sem. Donec lacinia sagittis odio nec rhoncus.


		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rutrum, mauris quis bibendum interdum, risus turpis imperdiet dolor, sollicitudin convallis sapien augue quis metus. Vestibulum erat leo, sagittis vitae auctor porta, fringilla vel erat. Vivamus eleifend, dolor in accumsan imperdiet, diam enim fermentum massa, ac congue orci mi et diam. Nunc non purus ultricies, fermentum sem in, vulputate ligula. Donec mollis est arcu, quis vulputate elit ornare in. Maecenas pharetra ex quis rhoncus commodo. Suspendisse aliquet a est a feugiat. Duis laoreet vestibulum sem. Donec lacinia sagittis odio nec rhoncus.
	</div>

	<a href="#" class="read-more js-read-more">
		<span class="icon"></span>
	    <span class="more">Read more</span>
	    <span class="less">Read less</span>
	</a>
</div>