<div class="component hack-feature">
	<p class="header">Hack #1</p>
	<p class="standfirst">You want to hit the gym in your lunch break, but can’t face ruining this morning’s blow-dry.</p>
	<p>Do your post-gym styling before you workout – yes, really! ‘Spraying roots 
with a dry shampoo, such as <a href="#"><span>Toni&Guy Hair Meet Wardrobe Matte Texture Dry Shampoo, <em>£xx/xxx points (xxml),</em></span></a> before you exercise can help absorb any moisture and sweat,’ says stylist Mark Hampton. ‘Then just twist hair into a high bun with the <a href="#"><span>Invisibobble Traceless Hair Ring, £xx/xxx points,</em></span></a> to help the body and bounce of your blow-dry stay put.’
	</p>
</div>