<div id="js-header-hero-carousel" class="component owl-carousel header-image">
  <div class="item">
    <img class="scale" data-scale="best-fill" data-align="center" src="HTMLResources/img/components/header-image-1.jpg" alt="Image description" />
  </div>
  <div class="item">
    <img class="scale" data-scale="best-fill" data-align="center" src="HTMLResources/img/components/header-image-1.jpg" alt="Image description" />
  </div>
  <div class="item">
    <img class="scale" data-scale="best-fill" data-align="center" src="HTMLResources/img/components/header-image-1.jpg" alt="Image description" />
  </div>
</div>