<div class="component list-three show-numbers show-image-number">
	<ol>
		<li>
			<h4>THE POLISH:</h4>
			<a href="#"><span>Revlon ColorStay Gel Envy Longwear Nail Enamel, <em> £6.99/ 699 points (11.7ml)</em> </span>boots.com only.</a>
			<p>We’ve tried countless polishes, but nothing lasts as long as this fabulous high-gloss formula that dries quickly and stays put for days. Call us greedy, but we always have at least five different shades sitting on our desks!</p>
			<figure class="image">
		  	<img src="HTMLResources/img/components/list-three-product-image.jpg" alt="Image description" />
		  	<figcaption class="caption">4</figcaption>
			</figure>
		</li>
	</ol>
</div>