<div class="component list-one show-numbers show-image-below style2">
	<ol>
		<li>
			<figure class="top">
		  	<img src="HTMLResources/img/components/image-image.jpg" alt="Image description" />
			</figure>
			<span class="number">1.</span>
			<h4>Don’t avoid your gp</h4>
			<p>Going to the doctor has to be up there with watching rom-coms when it comes to a bloke’s least favourite activity: a recent study says only 14% of men would be keen to see a GP when needed . ‘Heart disease is still the UK’s number one killer affecting both men and women, and it often doesn’t show symptoms beforehand,’ says GP Dr Rob Hicks. ‘But if you’re aged between 40 and 74, the NHS in England is offering free a Health Check every five years.’ It’s also recommended that healthy adults over 40 have their blood pressure checked at least once every five years. So if you’re between 40 and 70 and live in England, look out for your invitation to an NHS Health Check.
			</p>
			<figure class="bottom">
		  	<img src="HTMLResources/img/components/image-image.jpg" alt="Image description" />
			</figure>
		</li>
	</ol>
	
</div>