<div class="component list-one show-numbers show-image-below">
	<ol>
		<li>	
			<figure class="top">
		  	<img src="HTMLResources/img/components/image-image.jpg" alt="Image description" />
			</figure>
			<span class="number">1.</span>
			<h4>Woo him with tech</h4>
			<p>It’s no secret that men love shiny new gadgets, so encourage his inner geek.
<a href="#"><span>The Braun VitalScan 5 Wrist Blood Pressure Monitor <em>£59.99/5,999 points</em></span> boots.com only</a>, is ideal for using between GP check-ups. Or if he loves to keep fit, why not help him analyse his progress as well as his heart rate with the <a href="#"><span>Garmin Vivofit Activity Tracker With Heart Rate Monitor <em>£124.99/ 12,499 points</em> </span>boots.com only</a>.
<div class="product-pop-up">
	<div class="image">
		<img src="HTMLResources/img/components/product-grid-image.jpg" alt="Image description" />
	</div>
	<h4>Braun VitalScan Blood Pressure monitor</h4>
	<div class="price">£59.99</div>
	<a class="btn" href="#">Add</a>
</div>
</p>
			<figure class="bottom">
		  	<img src="HTMLResources/img/components/image-image.jpg" alt="Image description" />
			</figure>
		</li>
	</ol>
</div>