<div class="component product-list">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="product">		
  			<div class="image">
  				<img src="HTMLResources/img/components/list-three-product-image.jpg" alt="Image description" />
  			</div>
  			<div class="info">
		  		<span class="number">1</span>
		  		<div class="title">Pout Perfector</div>
	  			<p>‘I love a hot-pink lip to cheer up 
	my winter look. I always use a liner first – our Beauty Editor says it’s like insurance for lipstick! I’m really loving <a href="#"><span>New Clinique Quickliner For Lips Intense in Intense Punch, <em>£13/1,300 points.</em>’</span></a>
					<span class="author">Isabella Fernandes, Designer</span></p>
		  	</div>
  		</div>	
  	</div>
  	<div class="col-xs-12 col-sm-6">
			<div class="product">		
  			<div class="image">
  				<img src="HTMLResources/img/components/list-three-product-image.jpg" alt="Image description" />
  			</div>
  			<div class="info">
		  		<span class="number">2</span>
		  		<div class="title">Pout Perfector</div>
	  			<p>‘I love a hot-pink lip to cheer up 
	my winter look. I always use a liner first – our Beauty Editor says it’s like insurance for lipstick! I’m really loving <a href="#"><span>New Clinique Quickliner For Lips Intense in Intense Punch, <em>£13/1,300 points.</em>’</span></a>
					<span class="author">Isabella Fernandes, Designer</span></p>
		  	</div>
  		</div>	
  	</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="product">		
  			<div class="image">
  				<img src="HTMLResources/img/components/list-three-product-image.jpg" alt="Image description" />
  			</div>
  			<div class="info">
		  		<span class="number">3</span>
		  		<div class="title">Pout Perfector</div>
	  			<p>‘I love a hot-pink lip to cheer up 
	my winter look. I always use a liner first – our Beauty Editor says it’s like insurance for lipstick! I’m really loving <a href="#"><span>New Clinique Quickliner For Lips Intense in Intense Punch, <em>£13/1,300 points.</em>’</span></a>
					<span class="author">Isabella Fernandes, Designer</span></p>
		  	</div>
  		</div>	
  	</div>
  	<div class="col-xs-12 col-sm-6">
			<div class="product">		
  			<div class="image">
  				<img src="HTMLResources/img/components/list-three-product-image.jpg" alt="Image description" />
  			</div>
  			<div class="info">
		  		<span class="number">4</span>
		  		<div class="title">Pout Perfector</div>
	  			<p>‘I love a hot-pink lip to cheer up 
	my winter look. I always use a liner first – our Beauty Editor says it’s like insurance for lipstick! I’m really loving <a href="#"><span>New Clinique Quickliner For Lips Intense in Intense Punch, <em>£13/1,300 points.</em>’</span></a>
					<span class="author">Isabella Fernandes, Designer</span></p>
		  	</div>
  		</div>	
  	</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="product">		
  			<div class="image">
  				<img src="HTMLResources/img/components/list-three-product-image.jpg" alt="Image description" />
  			</div>
  			<div class="info">
		  		<span class="number">5</span>
		  		<div class="title">Pout Perfector</div>
	  			<p>‘I love a hot-pink lip to cheer up 
	my winter look. I always use a liner first – our Beauty Editor says it’s like insurance for lipstick! I’m really loving <a href="#"><span>New Clinique Quickliner For Lips Intense in Intense Punch, <em>£13/1,300 points.</em>’</span></a>
					<span class="author">Isabella Fernandes, Designer</span></p>
		  	</div>
  		</div>	
  	</div>
  	<div class="col-xs-12 col-sm-6">
			<div class="product">		
  			<div class="image">
  				<img src="HTMLResources/img/components/list-three-product-image.jpg" alt="Image description" />
  			</div>
  			<div class="info">
		  		<span class="number">6</span>
		  		<div class="title">Pout Perfector</div>
	  			<p>‘I love a hot-pink lip to cheer up 
	my winter look. I always use a liner first – our Beauty Editor says it’s like insurance for lipstick! I’m really loving <a href="#"><span>New Clinique Quickliner For Lips Intense in Intense Punch, <em>£13/1,300 points.</em>’</span></a>
					<span class="author">Isabella Fernandes, Designer</span></p>
		  	</div>
  		</div>	
  	</div>
	</div>
</div>