<div class="row">
	<div class="add-basket-notice">
		<p>The product has been added to your basket</p>
		<div class="abn-close-btn"></div>
	</div>
</div>

<div id="js-product-grid" class="component product-grid show-title">
	<div class="row">
		<div class="col-xs-6 col-sm-6">
			<div class="product">		
  			<div class="image">
  				<div class="toggle"></div>
  				<img src="HTMLResources/img/components/product-grid-image.jpg" alt="Image description" />
  			</div>
  		</div>
	  	<div class="info">
	  			<h4>Retro pastel</h4>
	  			<p><strong>‘Clarins Water Purify One-Step Cleanser,</strong> £20.50/2,050 points (200ml), removes make-up, cleanses and tones. Just as quick as wipes, but so much kinder to skin.’</p>
	  			<span class="unavailable">Currently unavailable</span>
	  	</div>
  	</div>
  	<div class="col-xs-6 col-sm-6">
			<div class="product">		
  			<div class="image">
  				<div class="toggle"></div>
  				<img src="HTMLResources/img/components/product-grid-image.jpg" alt="Image description" />
  			</div>
  		</div>
	  	<div class="info">
	  			<h4>Retro pastel</h4>
	  			<p><strong>‘Clarins Water Purify One-Step Cleanser,</strong> £20.50/2,050 points (200ml), removes make-up, cleanses and tones. Just as quick as wipes, but so much kinder to skin.’</p>
	  			<a class="btn pg-add-btn" href="#">Add</a>
	  	</div>
  	</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-6">
			<div class="product">		
  			<div class="image">
  				<div class="toggle"></div>
  				<img src="HTMLResources/img/components/product-grid-image.jpg" alt="Image description" />
  			</div>
  		</div>
	  	<div class="info">
	  			<h4>Retro pastel</h4>
	  			<p><strong>‘Clarins Water Purify One-Step Cleanser,</strong> £20.50/2,050 points (200ml), removes make-up, cleanses and tones. Just as quick as wipes, but so much kinder to skin.’</p>
	  			<a class="btn pg-add-btn" href="#">Add</a>
	  	</div>
  	</div>
  	<div class="col-xs-6 col-sm-6">
			<div class="product">		
  			<div class="image">
  				<div class="toggle"></div>
  				<img src="HTMLResources/img/components/product-grid-image.jpg" alt="Image description" />
  			</div>
  		</div>
	  	<div class="info">
	  			<h4>Retro pastel</h4>
	  			<p><strong>‘Clarins Water Purify One-Step Cleanser,</strong> £20.50/2,050 points (200ml), removes make-up, cleanses and tones. Just as quick as wipes, but so much kinder to skin.’</p>
	  			<a class="btn pg-add-btn" href="#">Add</a>
	  	</div>
  	</div>
	</div>
</div>