<div id="js-product-grid" class="component product-grid">
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-3 col-md-offset-2">
			<div class="product">		
  			<div class="image">
  				<div class="toggle"></div>
  				<img src="HTMLResources/img/components/product-grid-image.jpg" alt="Image description" />
  			</div>
  		</div>
	  	<div class="info">
	  			<p><strong>‘Clarins Water Purify One-Step Cleanser,</strong> £20.50/2,050 points (200ml), removes make-up, cleanses and tones. Just as quick as wipes, but so much kinder to skin.’</p>
	  			<a class="btn" href="#">Add</a>
	  	</div>
  	</div>
  	<div class="col-xs-6 col-sm-6 col-md-3 col-md-offset-2">
			<div class="product">		
  			<div class="image">
  				<div class="toggle"></div>
  				<img src="HTMLResources/img/components/product-grid-image.jpg" alt="Image description" />
  			</div>
  		</div>
	  	<div class="info">
	  			<p><strong>‘Clarins Water Purify One-Step Cleanser,</strong> £20.50/2,050 points (200ml), removes make-up, cleanses and tones. Just as quick as wipes, but so much kinder to skin.’</p>
	  			<a class="btn" href="#">Add</a>
	  	</div>
  	</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-3 col-md-offset-2">
			<div class="product">		
  			<div class="image">
  				<div class="toggle"></div>
  				<img src="HTMLResources/img/components/product-grid-image.jpg" alt="Image description" />
  			</div>
  		</div>
	  	<div class="info">
	  			<p><strong>‘Clarins Water Purify One-Step Cleanser,</strong> £20.50/2,050 points (200ml), removes make-up, cleanses and tones. Just as quick as wipes, but so much kinder to skin.’</p>
	  			<a class="btn" href="#">Add</a>
	  	</div>
  	</div>
  	<div class="col-xs-6 col-sm-6 col-md-3 col-md-offset-2">
			<div class="product">		
  			<div class="image">
  				<div class="toggle"></div>
  				<img src="HTMLResources/img/components/product-grid-image.jpg" alt="Image description" />
  			</div>
  		</div>
	  	<div class="info">
	  			<p><strong>‘Clarins Water Purify One-Step Cleanser,</strong> £20.50/2,050 points (200ml), removes make-up, cleanses and tones. Just as quick as wipes, but so much kinder to skin.’</p>
	  			<a class="btn" href="#">Add</a>
	  	</div>
  	</div>
	</div>
</div>