<div class="component pull-out-two">
  <h3>The beauty team edit</h3>
  <p class="standfirst"><strong>What we’re spritzing this Valentine’s Day…</strong></p>

  <div class="row">
    <div class="col-xs-12 col-sm-9 col-sm-push-3">
      <img class="pull-left profile" src="HTMLResources/img/components/pull-out-two-profile.png" alt="Image description" />
      <p><strong>Editor Helen says:</strong> ‘On a rare date night with my husband, 
      I’ll have about 10 minutes to get ready after putting the kids to bed – and a quick spray of <a href="#"><strong>sultry Armani Si</strong> [£54/ 5,400 points, 50ml, edt]</a> peps me up.’</p>
    </div>
    <div class="col-xs-12 col-sm-3 col-sm-pull-9">
      <img class="pull-right product" src="HTMLResources/img/components/pull-out-two-product.png" alt="Image description" />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-9 col-sm-push-3">
      <img class="pull-left profile" src="HTMLResources/img/components/pull-out-two-profile.png" alt="Image description" />
      <p><strong>Editor Helen says:</strong> ‘On a rare date night with my husband, 
      I’ll have about 10 minutes to get ready after putting the kids to bed – and a quick spray of <a href="#"><strong>sultry Armani Si</strong> [£54/ 5,400 points, 50ml, edt]</a> peps me up.’</p>
    </div>
    <div class="col-xs-12 col-sm-3 col-sm-pull-9">
      <img class="pull-right product" src="HTMLResources/img/components/pull-out-two-product.png" alt="Image description" />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-9 col-sm-push-3">
      <img class="pull-left profile" src="HTMLResources/img/components/pull-out-two-profile.png" alt="Image description" />
      <p><strong>Editor Helen says:</strong> ‘On a rare date night with my husband, 
      I’ll have about 10 minutes to get ready after putting the kids to bed – and a quick spray of <a href="#"><strong>sultry Armani Si</strong> [£54/ 5,400 points, 50ml, edt]</a> peps me up.’</p>
    </div>
    <div class="col-xs-12 col-sm-3 col-sm-pull-9">
      <img class="pull-right product" src="HTMLResources/img/components/pull-out-two-product.png" alt="Image description" />
    </div>
  </div>

</div>