<div class="component pull-out-one show-numbers has-image read-more">
  <div class="preview-content">
    <h4>Keeping it up</h4>
    <img src="HTMLResources/img/components/pull-out-one-image.jpg" alt="Image description" class="toggle-img" />
    <p class="standfirst"><strong>New goals feel exciting and achievable. But all too often life gets in the way and we slip back into those well-worn grooves of behaviour after a few weeks. Here are three ways to help keep motivation high:  </strong></p>
  </div>

  <div class="js-to-show">
    <ol>
      <li>
      	<p><strong>Reward </strong>Adopting healthy habits shouldn’t be a snore-fest, so make it fun by rewarding yourself. Let’s say you want to start running three times a week – your reward might be going for a healthy brunch with a friend after a weekend run. Or squirrel away the cash you’ve saved from swerving the coffee shop and buy yourself a new outfit.</p>
      </li>
      <li>
      	<p><strong>Reword </strong>A study found that 64% of those who said ‘I don’t’ instead of ‘I can’t’ when deciding whether to have a granola or a chocolate bar, went for the healthier granola option. Saying ‘I don’t’ (so ‘I don’t eat chocolate’) instead of ‘I can’t’ makes us feel empowered, because it’s our choice rather than something forced upon us.</p>
      </li>
      <li>
      	<p><strong>Incentivise </strong>Giving yourself a challenge means you’re more likely to accomplish your goal, says a recent study. So make a bet with a friend that if you eat chocolate/skip a workout/smoke a cigarette you’ll wash their car or do their ironing. Or sign up to a website like stickk.com, where you write a pledge and choose a third party to pay if you don’t meet your goal.</p>
      </li>
    </ol>
  </div>
  <a href="#" class="read-more js-read-more">
    <span class="icon"></span>
    <span class="more">Read more</span>
    <span class="less">Read less</span>
  </a>
</div>