<div class="component ratings-banner">
	<a href="#" class="close js-close-ratings"></a>
	<h3 class="center-block">Rate us</h3>
	<p class="center-block one">
		Enjoying this issue?<br>Let us know what you think
	</p>
	<p class="center-block two"><strong>Please click on a star</strong> </p>
	<div class="rate center-block">
		<span class="poor">Poor</span>
		<div class="stars">STARS HERE</div>
		<span class="great">Great</span>
	</div>

	<a href="#" class="btn center-block">Submit your rating</a>
</div>