<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<!--(bake /templates/structure/html-header.html)-->
</head>

<body>
		<div id="wrapper">
      <!--(bake /templates/structure/header.html)-->

      <div class="container">
        <!-- START: COMPONENT DETAILS -->
          <h2>Component: Body copy</h2>
          <p class="push h20"></p>
          <p><strong>Description:</strong>Body text</p>
          <p>Add class 'circle-dropcap' for rounded dropcap.</p>     
        <!-- END: COMPONENT DETAILS -->

        <p class="push h100"></p>

        <div class="row">        
          <div class="col-xs-12">
            <p>Description: With dropcap</p>
            <!--(bake /templates/components/_body-copy.html)-->
          </div>
        </div>

        <p class="push h100"></p>

        <div class="row">        
          <div class="col-xs-12">
            <p>Description: With Circle Dropcap</p>
            <!--(bake /templates/components/_body-copy-circle-dropcap.html)-->
          </div>
        </div>

        <p class="push h100"></p>

        <div class="row">        
          <div class="col-xs-12">
            <p>Description: With image</p>
            <!--(bake /templates/components/_body-copy-image.html)-->
          </div>
        </div>

        <div class="push-sf"></div> <!-- for sticky footer -->
      </div> 
		</div><!-- .wrapper -->

    <!--(bake /templates/structure/footer.html)-->
  </body>
</html>