<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<!--(bake /templates/structure/html-header.html)-->
</head>

<body>
		<div id="wrapper">
      <!--(bake /templates/structure/header.html)-->

      <div class="container">
        <!-- START: COMPONENT DETAILS -->
          <h2>Component: Border Stripes</h2>
          <p class="push h20"></p>
          <p><strong>Description:</strong>This is a duplicate component showing the use of the border stripe option.</p>
          <p>To add the striped border to any component use the class 'border-stripes'</p>
        <!-- END: COMPONENT DETAILS -->

        <p class="push h100"></p>

        <div class="row">        
          <div class="col-xs-12">
            <!--(bake /templates/components/_border-stripes.html)-->
          </div>
        </div>

        <div class="push-sf"></div> <!-- for sticky footer -->
      </div> 
		</div><!-- .wrapper -->

    <!--(bake /templates/structure/footer.html)-->
  </body>
</html>