<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<!--(bake /templates/structure/html-header.html)-->
</head>

<body>
		<div id="wrapper">
      <!--(bake /templates/structure/header.html)-->

      <div class="container">
        <!-- START: COMPONENT DETAILS -->
          <h2>Component: Crosshead</h2>
          <p class="push h20"></p>
          <!-- <p><strong>Description:</strong>Crosshead component can be used with header elements e.g. h1,h2,h3,h4 e.t.c</p> -->
        <!-- END: COMPONENT DETAILS -->

        <p class="push h80"></p>

        <div class="row">        
          <div class="col-xs-12">
            <p>Normal</p>
            <!--(bake /templates/components/_crosshead.html)-->
          </div>
        </div>

        <p class="push h80"></p>

        <div class="row">        
          <div class="col-xs-12">
            <p>Add style2</p>
            <!--(bake /templates/components/_crosshead-style2.html)-->
          </div>
        </div>

        <p class="push h80"></p>

        <div class="row">        
          <div class="col-xs-12">
            <p>Add style3.  <br />Add italics tag to italise</p>
            <!--(bake /templates/components/_crosshead-style3.html)-->
          </div>
        </div>

        <p class="push h80"></p>

        <div class="row">        
          <div class="col-xs-12">
            <p>Add style4</p>
            <!--(bake /templates/components/_crosshead-style4.html)-->
          </div>
        </div>

        <p class="push h80"></p>

        <div class="row">        
          <div class="col-xs-12">
            <p>Add style5</p>
            <!--(bake /templates/components/_crosshead-style5.html)-->
          </div>
        </div>

        <p class="push h80"></p>

        <div class="row">        
          <div class="col-xs-12">
            <p>Add style6</p>
            <!--(bake /templates/components/_crosshead-style6.html)-->
          </div>
        </div>

        <p class="push h80"></p>

        <div class="row">        
          <div class="col-xs-12">
            <p>Add style7</p>
            <!--(bake /templates/components/_crosshead-style7.html)-->
          </div>
        </div>

        <p class="push h80"></p>

        <div class="row">        
          <div class="col-xs-12">
            <p>Add style8</p>
            <!--(bake /templates/components/_crosshead-style8.html)-->
          </div>
        </div>

        <p class="push h80"></p>

        <div class="row">        
          <div class="col-xs-12">
            <p>Add style9</p>
            <!--(bake /templates/components/_crosshead-style9.html)-->
          </div>
        </div>

        <p class="push h80"></p>

        <div class="row">        
          <div class="col-xs-12">
            <p>Add text-center to center</p>
            <!--(bake /templates/components/_crosshead-centered.html)-->
          </div>
        </div>

        <div class="push-sf"></div> <!-- for sticky footer -->
      </div> 
		</div><!-- .wrapper -->

    <!--(bake /templates/structure/footer.html)-->
  </body>
</html>