<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<!--(bake /templates/structure/html-header.html)-->
</head>

<body>
		<div id="wrapper">
      <!--(bake /templates/structure/header.html)-->

      <div class="container">
        <!-- START: COMPONENT DETAILS -->
          <h2>Component: Expert advice</h2>
          <p class="push h20"></p>
          <p><strong>Description:</strong> Component with heading and text.</p>        
        <!-- END: COMPONENT DETAILS -->

        <p class="push h100"></p>

        <div class="row">    
        <p>Default</p>    
          <div class="col-xs-12">
            <!--(bake /templates/components/_expert-tip.html)-->
          </div>
        </div>

        <div class="row">    
        <p>Text centered</p>    
          <div class="col-xs-12">
            <!--(bake /templates/components/_expert-tip-centered.html)-->
          </div>
        </div>

        <div class="row">    
        <p>With background</p>    
          <div class="col-xs-12">
            <!--(bake /templates/components/_expert-tip-bg.html)-->
          </div>
        </div>

        <div class="push-sf"></div> <!-- for sticky footer -->
      </div> 
		</div><!-- .wrapper -->

    <!--(bake /templates/structure/footer.html)-->
  </body>
</html>