<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<!--(bake /templates/structure/html-header.html)-->
</head>

<body>
		<div id="wrapper">
      <!--(bake /templates/structure/header.html)-->

      <div class="container">
        <!-- START: COMPONENT DETAILS -->
          <h2>Component: Hack Feature</h2>
          <p class="push h20"></p>
          <p><strong>Description:</strong>Hack Feature uses class 'hack-feature'</p>
          <p>Product links should use specific markup</p>
        <!-- END: COMPONENT DETAILS -->

        <p class="push h100"></p>

        <div class="row">        
          <div class="col-xs-12">
            <!--(bake /templates/components/_hack-feature.html)-->
          </div>
        </div>

        <div class="push-sf"></div> <!-- for sticky footer -->
      </div> 
		</div><!-- .wrapper -->

    <!--(bake /templates/structure/footer.html)-->
  </body>
</html>