<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<!--(bake /templates/structure/html-header.html)-->
</head>

<body>
		<div id="wrapper">
      <!--(bake /templates/structure/header.html)-->

      <div class="container">
        <!-- START: COMPONENT DETAILS -->
          <h2>Component: List One</h2>
          <p class="push h20"></p>
          <p><strong>Description:</strong>List One component.</p>
          <p>Add class 'show-numbers' for list numbering</p>
          <p>Add class 'show-image-above' for image above text</p>
          <p>Add class 'show-image-below' for image below text</p>
          <p>Product links should use specific markup</p>
        <!-- END: COMPONENT DETAILS -->

        <p class="push h100"></p>

        <div class="row">        
          <div class="col-xs-12">
            <p>Default</p>
            <!--(bake /templates/components/_list-one.html)-->
          </div>
        </div>

        <p class="push h40"></p>

        <div class="row">        
          <div class="col-xs-12">
            <p>With numbers</p>
            <!--(bake /templates/components/_list-one-numbers.html)-->
          </div>
        </div>

        <p class="push h20"></p>

        <div class="row">        
          <div class="col-xs-12">
            <p>With links</p>
            <!--(bake /templates/components/_list-one-links.html)-->
          </div>
        </div>

        <p class="push h20"></p>

        <div class="row">        
          <div class="col-xs-12">
            <p>With image above</p>
            <!--(bake /templates/components/_list-one-image-above.html)-->
          </div>
        </div>

        <p class="push h20"></p>


        <div class="push-sf"></div> <!-- for sticky footer -->
      </div> 
		</div><!-- .wrapper -->

    <!--(bake /templates/structure/footer.html)-->
  </body>
</html>