<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<!--(bake /templates/structure/html-header.html)-->
</head>

<body>
		<div id="wrapper">
      <!--(bake /templates/structure/header.html)-->

      <div class="container">
        <!-- START: COMPONENT DETAILS -->
          <h2>Component: List Three</h2>
          <p class="push h20"></p>
          <p><strong>Description:</strong>List Three component uses header / text / product links / images / image numbering.</p>
          <p>Add class 'show-numbers' for list numbering</p>
          <p>Add class 'show-image' for image</p>
          <p>Add class 'show-image-number' for image number</p>
          <p>Product links should use specific markup</p>
        <!-- END: COMPONENT DETAILS -->

        <p class="push h100"></p>

        <div class="row">        
          <div class="col-xs-12">
            <p>Default</p>
            <!--(bake /templates/components/_list-three.html)-->
          </div>
        </div>

        <p class="push h40"></p>

        <div class="row">        
          <div class="col-xs-12">
            <p>With image</p>
            <!--(bake /templates/components/_list-three-image.html)-->
          </div>
        </div>

        <p class="push h40"></p>

        <div class="row">        
          <div class="col-xs-12">
            <p>With image numbering</p>
            <!--(bake /templates/components/_list-three-image-number.html)-->
          </div>
        </div>

        <p class="push h40"></p>

        <div class="push-sf"></div> <!-- for sticky footer -->
      </div> 
		</div><!-- .wrapper -->

    <!--(bake /templates/structure/footer.html)-->
  </body>
</html>