<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<!--(bake /templates/structure/html-header.html)-->
</head>

<body>
		<div id="wrapper">
      <!--(bake /templates/structure/header.html)-->

      <div class="container">
        <!-- START: COMPONENT DETAILS -->
          <h2>Component: Standfirst</h2>
          <p class="push h20"></p>
          <p><strong>Description:</strong>Example of standfirst text using different fonts</p>
        <!-- END: COMPONENT DETAILS -->

        <p class="push h120"></p>

        <div class="row">        
          <div class="col-xs-12">
            <p>Archer</p>
            <!--(bake /templates/components/_standfirst-archer.html)-->
          </div>
        </div>

        <p class="push h120"></p>

        <div class="row">        
          <div class="col-xs-12">
            <p>SinkinSans</p>
            <!--(bake /templates/components/_standfirst-sinkinsans.html)-->
          </div>
        </div>


        <p class="push h120"></p>

        <div class="row">        
          <div class="col-xs-12">
            <p>Archer - Underlined</p>
            <!--(bake /templates/components/_standfirst-underline.html)-->
          </div>
        </div>


      </div>



      <div class="push"></div> <!-- For sticky footer -->
    </div><!-- .wrapper -->

    <!--(bake /templates/structure/footer.html)-->	
  </body>
</html>