<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<!--(bake /templates/structure/html-header.html)-->
</head>

<body>
		<div id="wrapper">
      <!--(bake /templates/structure/header.html)-->

      <div class="container">
        <!-- START: COMPONENT DETAILS -->
          <h2>Component: Title</h2>
          <p class="push h20"></p>
          <p><strong>Description:</strong>Subtitle component uses H2</p>        
        <!-- END: COMPONENT DETAILS -->

        <p class="push h100"></p>

        <div class="row">        
          <div class="col-xs-12">
            <p>Normal</p>
            <!--(bake /templates/components/_subtitle.html)-->
          </div>
        </div>

        <div class="push-sf"></div> <!-- for sticky footer -->
      </div> 
		</div><!-- .wrapper -->

    <!--(bake /templates/structure/footer.html)-->
  </body>
</html>