<!DOCTYPE html>
<html class="no-js" lang="en">

<!--[if IE 9 ]> <html class="ie9"> <![endif]-->

<head>
	<!--(bake /templates/structure/html-header.html)-->
</head>

<body>
		<div id="wrapper">
      <!--(bake /templates/structure/header.html)-->

      <div class="container">
        <!-- START: COMPONENT DETAILS -->
          <h2>Component: Title</h2>
          <p class="push h20"></p>
          <p><strong>Description:</strong>Title component uses H1</p>        
        <!-- END: COMPONENT DETAILS -->

        <p class="push h100"></p>

        <div class="row">        
          <div class="col-xs-12">
            <p>Style 1</p>
            <!--(bake /templates/components/_title-style1.html)-->
          </div>
        </div>

        <p class="push h20"></p>

        <div class="row">        
          <div class="col-xs-12">
            <p>Style 2</p>
            <!--(bake /templates/components/_title-style2.html)-->
          </div>
        </div>

        <p class="push h20"></p>

        <div class="row">        
          <div class="col-xs-12">
            <p>Style 3</p>
            <!--(bake /templates/components/_title-style3.html)-->
          </div>
        </div>

        <p class="push h20"></p>

        <div class="row">        
          <div class="col-xs-12">
            <p>Style 4</p>
            <!--(bake /templates/components/_title-style4.html)-->
          </div>
        </div>

        <div class="push-sf"></div> <!-- for sticky footer -->
      </div> 
		</div><!-- .wrapper -->

    <!--(bake /templates/structure/footer.html)-->
  </body>
</html>