<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<!--(bake /templates/structure/html-header.html)-->
</head>

<body>
		<div id="wrapper">
      <!--(bake /templates/structure/header.html)-->

      <div class="container">
        <!-- START: COMPONENT DETAILS -->
          <h2>Component: Body copy</h2>
          <p class="push h20"></p>
          <p><strong>Description:</strong> Words/Photography.<br>To show words, add class of 'show-words'.<br>To show photography, add class of 'show-photography'</p>        
        <!-- END: COMPONENT DETAILS -->

        <p class="push h100"></p>

        <div class="row">        
          <div class="col-xs-12">
            <p>Show Words</p>
            <!--(bake /templates/components/_words.html)-->
          </div>
        </div>

        <p class="push h20"></p>

        <div class="row">        
          <div class="col-xs-12">
            <p>Show Photography</p>
            <!--(bake /templates/components/_photography.html)-->
          </div>
        </div>

        <p class="push h20"></p>

        <div class="row">        
          <div class="col-xs-12">
            <p>Show Words and Photography</p>
            <!--(bake /templates/components/_words-photography.html)-->
          </div>
        </div>

        <div class="push-sf"></div> <!-- for sticky footer -->
      </div> 
		</div><!-- .wrapper -->

    <!--(bake /templates/structure/footer.html)-->
  </body>
</html>