<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<!--(bake /templates/structure/html-header.html)-->
</head>

<body class="hidden-header-image">
		<div id="wrapper">
      <!--(bake /templates/structure/header.html)-->
      <!--(bake /templates/components/_header-image.html)-->
      
      <div class="container">
            <div class="row">
                  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        
                  </div>
            </div>
      </div>

      <div class="push-sf"></div> <!-- for sticky footer -->
		</div><!-- .wrapper -->
		<!--(bake /templates/structure/footer.html)-->
  </body>
</html>