<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<!--(bake /templates/structure/html-header.html)-->
</head>

<body class="holding-page">
		<div id="wrapper">
      <!--(bake /templates/structure/header.html)-->
      <div class="container">

        <div class="hp-content">

          <p class="push h20 hidden-sm"></p>
          <p class="push h60 hidden-xs"></p>

          <img src="HTMLResources/img/components/hp-logo.png" class="hp-logo" alt="Boots Health & Beauty">

          <p class="push h40"></p>

          <h2>Coming soon</h2>

          <p>Your favourite magazine has been given a fantastic digital makeover! Catch new-look Health &amp; Beauty on mobile, tablet or desktop.</p>

          <p>Want to enter our competition?<br><a href="http://www.boots.com/magazinecompetition">Then click here…</a></p>
        </div>

      </div>
      <div class="push-sf"></div> <!-- for sticky footer -->
		</div><!-- .wrapper -->

		<script type="text/javascript" src="HTMLResources/js/lib.min.js"></script>
    <script type="text/javascript" src="HTMLResources/js/framework.min.js"></script>
    <script type="text/javascript" src="HTMLResources/js/components.min.js"></script>
  </body>
</html>