<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<!--(bake /templates/structure/html-header.html)-->
</head>

<body class="content-template negative-container">
		<div id="wrapper">
      <!--(bake /templates/structure/header.html)-->

      <!--(bake /templates/components/_header-image.html)-->

      <div class="container">
      	<div class="row">
      		<div class="col-xs-12 col-md-10 col-md-offset-1">
						<h1 class="title">
							<span>Contents / <em>March 2016</em></span>
						</h1>
      		</div>
      	</div>

      	<div class="row">
      		<div class="col-xs-12 col-md-10 col-md-offset-1">
	      		<div class="row">
	      			<div class="col-xs-12 col-sm-6">
	      				<hr>
				      	<div class="row">
				      		<div class="col-xs-6 col-sm-12">
				      			<a href="#">
											<img src="HTMLResources/img/components/image-image.jpg" alt="Image description" />
										</a>
				      		</div>
				      		<div class="col-xs-6 col-sm-12 padding-50">
				      			<h2 class="subtitle">
											Beauty
										</h2>
										<h3 class="article-title">
				      				<a href="#">Ready set refresh</a>
				      			</h3>
				      			<div class="hidden-xs">
				      				<p class="standfirst">
											  Esecaborem. Agnimus, aut endic Ulparum Ed modis sandictus, omnim
											</p>	
				      			</div>
				      		</div>
				      	</div>
				      </div>

				      <div class="col-xs-12 col-sm-6">
				      	<hr>
				      	<div class="row">
				      		<div class="col-xs-6 col-sm-12">
										<a href="#">
											<img src="HTMLResources/img/components/image-image.jpg" alt="Image description" />
										</a>
				      		</div>
				      		<div class="col-xs-6 col-sm-12 padding-50">
				      			<h2 class="subtitle">
											Beauty
										</h2>
				      			<h3 class="article-title">
				      				<a href="#">Ready set refresh</a>
				      			</h3>
				      			<div class="hidden-xs">
				      				<p class="standfirst">
											  Esecaborem. Agnimus, aut endic Ulparum Ed modis sandictus, omnim
											</p>	
				      			</div>
				      		</div>
				      	</div>
				      </div>

				      <div class="col-xs-12 col-sm-6">
				      	<hr>
				      	<div class="row">
				      		<div class="col-xs-6 col-sm-12">
										<a href="#">
											<img src="HTMLResources/img/components/image-image.jpg" alt="Image description" />
										</a>
				      		</div>
				      		<div class="col-xs-6 col-sm-12 padding-50">
				      			<h2 class="subtitle">
											Beauty
										</h2>
				      			<h3 class="article-title">
				      				<a href="#">Ready set refresh</a>
				      			</h3>
				      			<div class="hidden-xs">
				      				<p class="standfirst">
											  Esecaborem. Agnimus, aut endic Ulparum Ed modis sandictus, omnim
											</p>	
				      			</div>
				      		</div>
				      	</div>
				      </div>

				      <div class="col-xs-12 col-sm-6">
				      	<hr>
				      	<div class="row">
				      		<div class="col-xs-6 col-sm-12">
										<a href="#">
											<img src="HTMLResources/img/components/image-image.jpg" alt="Image description" />
										</a>
				      		</div>
				      		<div class="col-xs-6 col-sm-12 padding-50">
				      			<h2 class="subtitle">
											Beauty
										</h2> 			
				      			<h3 class="article-title">
				      				<a href="#">Ready set refresh</a>
				      			</h3>
				      			<div class="hidden-xs">
				      				<p class="standfirst">
											  Esecaborem. Agnimus, aut endic Ulparum Ed modis sandictus, omnim
											</p>	
				      			</div>
				      		</div>
				      	</div>
				      	<hr>
				      </div>
				      
			    	</div>
			    </div>
		   	</div>
		  </div>
    </div>

    <div class="push-sf"></div> <!-- for sticky footer -->
		</div><!-- .wrapper -->
		<!--(bake /templates/structure/footer.html)-->
  </body>
</html>