@charset "CP850";
@import "framework/variables";

* {
  box-sizing: border-box;
}

body,div,a,h1,h2,h3,h4,h5,h6,p,ul,ol,li,img,label,input,select,blockquote,fieldset,legend,form {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,video,picture {
    display: block
}

iframe {
    border: 0 solid transparent
}

table {
  border-spacing: 0;
  border-collapse: separate;
}

html {
    font-size: 62.5%;   
    height: 100% 
}

body {
  height: calc(100% - 64px);
  margin-top: 64px;
  font-family: "SinkinSans",Arial,sans-serif;
  font-weight: normal;
  font-size: 100%;
  text-align: left;
  color: $black;
  letter-spacing: 0;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: rgba($pinkTint, 0.1);
  @include font-smoothing();
}

.bold {
  font-weight: bold
}

.cf,.rwd .row .pane,.main {
    zoom: 1
}

.cf:before,.rwd .row .pane:before,.cf:after,.rwd .row .pane:after,.main:before,.main:after {
    content: "";
    display: table
}

.cf:after,.rwd .row .pane:after,.main:after {
    clear: both
}

.ltie8 .cf,.ltie8 .rwd .row .pane,.rwd .row .ltie8 .pane {
    zoom: 1
}


a {
  font-weight: 600;
  font-style: normal;
  color: $blue;
  &:hover, &:focus, &:active {
    color: $black;
  }
  &:focus, &:active {
      outline: none
  }
  span {
    color: $black;
    text-decoration: underline;

    em {
      font-weight: normal;
    }
  }
}

a img {
    border: 0
}

img {
    border: none;
    max-width: 100%;
    display: block;
}

strong {
  font-weight: 700; 
}

.no-margin {
  margin: 0!important;
}

.no-ls {
  letter-spacing: 0;
}

.display-ib {
  display: inline-block;
}

h1, .title {
  font-family: 'MajesticBanner';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  font-size: 4.2rem;
  line-height: 36px;
  line-height: 3.6rem;
  margin: 0 0 15px !important;  
  color: inherit;
  text-align: center;

  @media all and (min-width: 480px) {
    font-size: 77px;
    font-size: 7.7rem;
    line-height: 70px;
    line-height: 7rem;
    margin: 0 0 10px;
  }

  &.style2 {
    font-style: italic;
  }

  &.style3 {
    font-family: 'Archer';
    font-style: normal;
    font-weight: 100;
    font-size: 23px;
    font-size: 2.3rem;
    line-height: 20px;
    line-height: 2rem;

    em {
      font-style: italic;
    }

    @media all and (min-width: 480px) {     
      font-size: 45px;
      font-size: 4.5rem;
      line-height: 40px;
      line-height: 4rem;
    }
  }

  &.style4 {
    font-family: 'Archer';
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    font-size: 4rem;
    line-height: 36px;
    line-height: 3.6rem;    

    @media all and (min-width: 480px) {
      font-size: 77px;
      font-size: 7.7rem;
      line-height: 66px;
      line-height: 6.6rem;
    }
  }
}

h2 {
  font-family: "Archer";
  font-size: 20px;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 20px;
  @media all and (min-width: 480px) {
    font-size: 30px;
    font-size: 3rem;
    margin: 0 0 15px;
  }
  &.subtitle {
      text-align: center;
      color: $pink;
  }
}

h3 {
  font-family: 'Archer';
  font-size: 35px;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 100;
  line-height: 25px;
  line-height: 2.5rem;
  margin-bottom: 10px;
  @media all and (min-width: 480px) {
    font-size: 40px;
    font-size: 4rem;
  }
}

h4 {
  margin-bottom: 12px;
  padding-bottom: 12px;
  font-family: 'Archer';
  font-size: 20px;
  font-size: 2rem;
  font-weight: 800;
  line-height: 25px;
  line-height: 2.5rem;
  text-transform: uppercase;
  border-bottom: 1px solid $black;
  @media all and (min-width: 480px) {
    font-size: 25px;
    font-size: 2.5rem;
  }
}

h5 {
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 34px;
  line-height: 3.4rem;
  margin-top: 10px;
  margin-bottom: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h6 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 24px;
  line-height: 2.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dropcap {
  font-family: 'MajesticBanner';
  font-weight: 400;
  background-color: $peach;
  color: $white;
  height: 65px!important;
  width: 65px!important;
  font-size: 57px!important;
  padding-top: 10px!important;
  padding-left: 14px!important;
  margin-right: 10px;
}

#wrapper .component {
  margin-bottom: 30px;
}

#wrapper {
  min-height: 100%;
  margin: 0 auto -30px; //sticky footer
}

.container {
  background: $white;
}

/*************** TEMPLATE STYLING ***************/
.hidden-header-image {
  #wrapper {

    > .container {
      padding-top: 30px;
    }

    .header-image {
      display: none;
    }
  }
}

.negative-container {
 #wrapper {

    > .container {
      margin-top: -30px;
      padding-top: 30px;

      @media all and (min-width: 1024px) {
        position: relative;
        margin-top: -154px;
        background: $white;
      }
    }
  }
}

.narrow-container {
  #wrapper {

    > .container {
      padding-top: 30px;
    }

    .header-image {
      max-width: 1000px;
      height: 207px;
      margin: 0 auto;

      @media (min-width: 480px) {    
        height: 471px;
      }

      .owl-item{
        .item {
          @media (min-width: 480px) {    
            height: 471px;
          }
        }
      }
    }
  }
}


/*************** NAV ***************/

.navbar-default {
  z-index: 999;
  position: relative;
  padding: 8px 0 5px;
  border-bottom: 1px solid $black;
  background-color: $black;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  @media (min-width: 480px) {    
    background-color: $white;
  }

  .container {
    background: transparent;
  }


  &.slideOutUp {
    animation-name: slideOutUp!important;
    animation-duration: 350ms!important;
  }
  &.slideInDown {
    animation-name: slideInDown!important;
    animation-duration: 350ms!important;
  }

  .pull-left {
    margin-top: 2px;

    .menu {
      .icon {
        @include icons-sprite(menu-icon-white);

        @media (min-width: 480px) {    
          background: url(../img/structure/menu-icon.png);
        }
      }
    }
  }

  .center-block {
    width: 32%;

    .logo {
      img {
        margin: 0 auto;
      }
    }
  }

  .pull-right {
    position: relative;
    margin-top: -43px;

    .share { 
      display: none;

      @media (min-width: 480px) {    
        display: inline-block;
      }

      .icon {
        @include icons-sprite(share-icon);
      }
    }

    .dropdown {
      display: none;
      position: absolute;
      top: 54px;
      right: -10px;
      box-shadow: -4px 8px 18px #333;
      background: $white;

      @media (min-width: 480px) {    
        right: 86px;
        box-shadow: none;
      }

      .close {
        position: absolute;
        top: 6px;
        right: 6px;
        width: 40px;
        height: 40px;
        @include icons-sprite(share-close-icon-white);

        @media (min-width: 480px) {    
          background: url(../img/structure/share-close-icon.png);
        }
      }
    }

    .share-dropdown {
      position: fixed;
      top: 64px;
      right: 0;
      width: 100%;
      padding: 18px 34px;
      background-color: rgba($pink,0.8);

      @media (min-width: 480px) {    
        position: absolute;
        top: 54px;
        right: 86px;
        width: 320px;
        background: $white;
      }

      li.title {
        margin: 0 !important;
        padding-bottom: 16px;
        font-family: 'Archer';
        font-style: normal;
        font-weight: 700;
        font-size: 27px;
        font-size: 2.7rem;
        line-height: 32px;
        line-height: 3.2rem;
        text-align: center;
        color: $white;

        @media (min-width: 480px) {
          color: $black;
        }
      }

      li {
        list-style-type: none;
        font-family: 'SinkinSans';
        font-weight: 600;
        font-style: normal;
        font-size: 17px;
        font-size: 1.7rem;
        line-height: 15px;
        line-height: 1.5rem;
        margin-bottom: 10px;

        @media (min-width: 480px) {
          margin-bottom: 0;
          border-bottom: 1px solid $black;
        }

        a {
          display: block;
          padding: 0 24px;
          color: $black;
          background-color: $white;

          @media (min-width: 480px) {
            padding: 10px 20px;
          }

          &:hover {
            color: $pink;
          }

          i {
            display: inline-block;
            width: 30px;
            height: 30px;
            margin-right: 40px;
            vertical-align: middle;
          }

          span {
            vertical-align: middle;
            color: inherit;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      .fb i { @include icons-sprite(social-fb-icon); }
      .tw i { @include icons-sprite(social-tw-icon); }
      .pi i { @include icons-sprite(social-pi-icon); }
      .gp i { @include icons-sprite(social-gp-icon); }
      .wa i { @include icons-sprite(social-wa-icon); }
      .email i { @include icons-sprite(social-mail-icon); }
      .copy i { @include icons-sprite(social-copy-icon); }
    }

    .basket {  
      margin-left: 40px;

      .icon {
        @include icons-sprite(basket-icon-white);

        @media (min-width: 480px) {    
          background: url(../img/structure/basket-icon.png);
        }

        span {
          display: block;
          position: relative;
          top: -8px;
          left: -14px;
          width: 25px;
          height: 25px;
          font-family: arial;
          font-size: 12px;
          font-weight: normal;
          color: $bluedark;
          line-height: 26px;
          text-align: center;
          border-radius: 50%;
          background: $bluelight;
        }
      }
    }

    .basket-dropdown {
      width: 285px;
      padding: 38px 15px 20px;
      text-align: center;

      .title {
        font-family: 'VAGRounded';
        font-weight: 500;
        font-style: normal;
        font-size: 27px;
        font-size: 2.7rem;
        line-height: 32px;
        line-height: 3.2rem;
      }

      .total-price {
        font-family: Arial,sans-serif;
        font-weight: 800;
        font-style: normal;
        margin-bottom: 30px;
        font-size: 18px;
        font-size: 1.8rem;
        line-height: 15px;
        line-height: 1.5rem;
      }

      .item {
        margin-bottom: 20px;
        text-align: left;

        .image {
          border: 1px solid $grey;
          border-radius: 6px;
        }

        .desc {
          font-family: 'VAGRounded';
          font-weight: 500;
          font-style: normal;
          font-size: 12px;
          font-size: 1.2rem;
          line-height: 15px;
          line-height: 1.5rem;
          letter-spacing: 0.04em;
        }

        .offer {
          margin: 10px 0;
          font-family: Arial,sans-serif;
          font-weight: 800;
          font-style: normal;
          color: $red;
        }

        .delete {
          display: block;
          width: 26px;
          height: 26px;
          @include icons-sprite(basket-remove-icon);
        }

        .quantity {
          position: relative;
          width: 70px;

          select {
            z-index: 1;
            position: relative;
            width: 100%;
            padding: 10px 32px 10px 12px;
            -webkit-appearance: none;
            border: 1px solid #808080;
            border-radius: 0;
            background: transparent;
          }

          i {
            display: inline-block;
            position: absolute;
            top: 0;
            right: 0;
            width: 35px;
            height: 100%;
            @include icons-sprite(dropdown-arrow-icon);
          }
        }

        .price {
          text-align: right;
          font-family: 'SinkinSans';
          font-weight: 700;

          span {
            font-weight: 400;
          }
        }

      }

      .footer {
        .checkout {
          position: relative;
          margin-bottom: 20px;

          a {
            left: 0;
            width: auto;
            margin: 0;
            padding: 8px 20px;
            font-size: 20px;
            font-size: 2rem;
            line-height: 24px;
            line-height: 2.4rem;
            color: $white;
            background: $bluedark;
          }
        }

        p {
          display: none;
          margin-bottom: 20px;
          font-size: 11px;
          font-size: 1.1rem;
          line-height: 12px;
          line-height: 1.2rem;

          @media (min-width: 480px) {    
            display: block;
          }
        }

        a.empty {
          display: block;
          font-size: 12px;
          font-size: 1.2rem;
          line-height: 15px;
          line-height: 1.5rem;       
          text-decoration: underline;
          color: $black;

          &:hover {
            color: $pink;
          }
        }
      }      
    }
  }

  .cta {
    display: inline-block;
    line-height: normal;

    .icon {
      display: block;
      width: 32px;
      height: 32px;
      margin: 0 auto 4px;
    }
  }

  a, a span {
    &:hover, &:active, &:focus {
      text-decoration: none;
      color: $pink;
    }
  }

  a span {
    color: $white;
    text-decoration: none;

    @media (min-width: 480px) {
      color: $black;
    }
  }
}

.navbar-fixed-top, .navbar-fixed-bottom {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.mobile {
  display: none!important;
}

ul.status {
  margin-bottom: 40px;

  li {
    margin: 10px 0;
  }
}

p, .body-copy {
  font-family: 'SinkinSans';
  font-weight: 400;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 25px;
  line-height: 2.5rem;
  margin: 0;

  strong {
    font-weight: 600;
  }
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}


.bttn {
  padding: 10px 27px;
  text-align: center;
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 20px;
  line-height: 2rem;
  letter-spacing: .1em;
  border: 1px solid #fff;
  border-color: rgba(255,255,255,1);
  color: #fff;
  color: rgba(255,255,255,1);
  display: inline-block;
  cursor: pointer;
  outline: none;
  width: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  text-rendering: optimizeLegibility;
  transition: all 350ms ease;

  &:hover, &:active, &:focus {
    color: $black;
    background-color: #fff;
    background-color: rgba(255,255,255,1);
    text-decoration: none;
  }
}

.skip {
    position: absolute;
    left: -999em
}

a.skip:active,a.skip:focus {
    top: 0;
    left: 0;
    color: $white;
    background: #01a7e3;
    font-size: 1.1em;
    display: block;
    padding: 0.4em;
    border: 0.1em solid $white;
    white-space: nowrap;
    width: 14em;
    text-align: center;
    font-weight: bold
}

.fade-out {
  opacity: 0;
  z-index: 0;
}

.fade-in {
  opacity: 1;
}

.search-box::-webkit-input-placeholder {
  color: $black;
}

.search-box:-moz-placeholder {
  color: $black;
}

.search-box::-moz-placeholder {
  color: $black;
}

.search-box:-ms-input-placeholder {
  color: $black;
}

.modal {
  .slick-list:before {
    content: '\f00e';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'FontAwesome';
    font-size: 32px;
    font-size: 3.2rem;
    line-height: 32px;
    line-height: 3.2rem;
    text-align: center;
    color: $white;
    z-index: 1001;
    pointer-events: none;
  }
}

footer, .push-sf {
  height: 30px; /* '.push' must be the same height as 'footer' */
}

footer {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  background: $grey;
}

footer {
  ul {
    li {
      display: inline-block;
      padding: 0 20px;
      border-right: 1px solid $black;

      a {
        font-family: 'Archer';
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        color: $black;
        line-height: 30px;
      }
    }
  }
}

.push {
  &.h20 { height: 20px; }
  &.h25 { height: 25px; }
  &.h40 { height: 40px; }
  &.h60 { height: 60px; }
  &.h70 { height: 70px; }
  &.h80 { height: 80px; }
  &.h100 { height: 100px; }
  &.h120 { height: 120px; }
  &.h140 { height: 140px; }
  &.h160 { height: 160px; }
}

/******************************
* CONTENT TEMPLATE
******************************/
.content-template {

  .row.border {
    padding: 10px 0;
    border-top: 1px solid $black;

    @media all and (min-width: 768px) {
      padding-top: 0;
      border: 0;
    }
  }

  h1 {
    margin-bottom: 10px;
    font-family: 'Archer';
    font-style: normal;
    font-weight: 100;
    font-size: 23px;
    font-size: 2.3rem;
    line-height: 14px;
    line-height: 1.4rem;

    span {
      position: relative;

      @media all and (min-width: 768px) {
        &:before {
          content: "";
          position: absolute;
          bottom: -20px;
          left: 50%;
          width: 60%;
          height: 1px;
          margin-left: -30%;
          background: $black;
        }
      }

      em {
        font-style: italic;
      }
    }

    @media all and (min-width: 768px) {
      margin-bottom: 40px;
      padding-bottom: 20px;
      font-size: 45px;
      font-size: 4.5rem;
      line-height: 40px;
      line-height: 4rem;
    }
  }

  img {
    @media all and (min-width: 768px) {
      margin-bottom: 15px;
    }
  }

  h2 {
    margin-bottom: 5px;
    text-align: left;
    font-size: 12px;
    font-size: 1.2rem;
    text-transform: uppercase;

    @media all and (min-width: 768px) {
      font-size: 17px;
      font-size: 1.7rem;
      text-transform: none;
    }
  }

  h3 {
    font-family: 'MajesticBanner';
    font-weight: 400;
  }

  h2, h3, .standfirst {
    @media all and (min-width: 768px) {
      text-align: center;
    }
  }

  hr {
    border-color: $black;

    @media all and (min-width: 768px) {
      display: none;
    }
  }
}


/******************************
* GRID OVERLAY
******************************/
#grid-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
  overflow: hidden;

  div span {
    display: block;
    height: 2000px;
    background: red;
  }
}