/******************* IE9 Styles *********************/
/*
<<<<<<< HEAD
*/
/**************** Fonts **********************/

/*
.ie9 #wrapper .component {
    margin-bottom: 30px\9\0;
    font-family: "SinkinSans",Arial,sans-serif !important;
}

.ie9 .content-template h1 {
    margin: 0 !important;
    font-family: "Archer A", "Archer B" !important;
    font-style: normal;
    font-weight: 500;
    font-size: 23px\9\0;
    font-size: 2.3rem;
    line-height: 14px;
    line-height: 1.4rem;

}

.ie9 .content-template h3 a {
    color: #000000\9\0 !important;
}

.ie9 .content-template h2 {
    margin-bottom: 5px !important;
   	font-size: 12px\9\0;
   	text-transform: capitalize;
}

.ie9 p {
	font-family: 'SinkinSans', Arial;
    font-size: 13px !important;
 	line-height: 25px;
}

.ie9 p.component.standfirst.style1 {
    font-family: "Archer A", "Archer B";
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    line-height: 25px;
    letter-spacing: 0.025em;
    text-align: center;
    margin-bottom: 60px !important;
}
*/


/************** Main box styles ***************/

/*
.ie9 .row {
  display: block !important;
	margin-left: auto;
	margin-right: auto;
	margin-top: -50px\9\0 !important;
	padding-top: 50px\9\0 !important;
  border: 5px solid red;


}
*/

/*>>>>>>> 613625f86a2826927df4be54184b996ab05e73e3*/

/*** Quantity styled for IE9 *****/

/*

.quantity {
          position: relative;
          width: 70px;

	          select {
	            z-index: 1;
	            position: relative;
	            width: 100%;
	            height: 36px;
	            padding: 10px 32px 10px 12px;
	            -webkit-appearance: none;
	            border: 1px solid #808080;
	            border-radius: 0;
	            background: transparent;
	        }

	          i {
	            display: inline-block;
	            position: absolute;
	            top: 0;
	            right: 0;
	            width: 35px;
	            height: 100%;
	            @include icons-sprite(dropdown-arrow-icon);
	    	}
}

*/

/*
.ie9 .quantity {

    overflow:hidden;
    border:1px solid black;
    position: relative;
    width: 70px;
	

	select {
		   width:100px;
		   border:0px;
	      -webkit-appearance:none;
		  -moz-appearance:none;
		  -o-appearance:none;
		   appearance:none; 
	}
}


.ie9 .dropcap {
   display: block !important;
  font-family: 'MajesticBanner';
  font-weight: 400;
  background-color: $peach;
  color: $white;
  height: 65px!important;
  width: 65px!important;
  font-size: 57px!important;
  padding-top: 12px!important;
  padding-left: 0px!important;
  margin-right: 10px;
  text-align:center;
}
*/

.ie9 .navbar-default .pull-right .basket-dropdown .item .quantity {
  overflow: hidden;
  
  select {
    z-index: 1;
    position: relative;
    width: 120px;
    padding: 0;
    text-indent: 20px;
    appearance: none;
    border-radius: 0;
  }
}

.ie9 .dropcap {
  line-height: 82px !important;
}

.ie9 .component.pull-out-one ol li:before {
  line-height: 44px;
}