/******************* IE9 Styles *********************/




/************** Main box styles ***************/

.ie9 .row {

	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -50px !important;

}

/*** Quantity styled for IE9 *****/

/*

.quantity {
          position: relative;
          width: 70px;

	          select {
	            z-index: 1;
	            position: relative;
	            width: 100%;
	            height: 36px;
	            padding: 10px 32px 10px 12px;
	            -webkit-appearance: none;
	            border: 1px solid #808080;
	            border-radius: 0;
	            background: transparent;
	        }

	          i {
	            display: inline-block;
	            position: absolute;
	            top: 0;
	            right: 0;
	            width: 35px;
	            height: 100%;
	            @include icons-sprite(dropdown-arrow-icon);
	    	}
}

*/

.ie9 .quantity {

    overflow:hidden;
    border:1px solid black;
    position: relative;
    width: 70px\9\0;
	

	select {
		   width:100px;
		   border:0px;
	      -webkit-appearance:none;
		  -moz-appearance:none;
		  -o-appearance:none;
		   appearance:none; 
	}
	select::-ms-expand {
    	display: none;
	}

	i {
	      display: none !important;
	}
}


.ie9 .dropcap {
   display: block !important;
  font-family: 'MajesticBanner';
  font-weight: 400;
  background-color: $peach;
  color: $white;
  height: 65px!important;
  width: 65px!important;
  font-size: 57px!important;
  padding-top: 12px!important;
  padding-left: 0px!important;
  margin-right: 10px;
  text-align:center;
}


@media screen and (min-width:0) and (min-resolution: .001dpcm) { 
	 .ie9 {

	 }
}



