/*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
≡≡≡≡≡≡                                                                                                      ≡≡≡≡≡≡≡≡≡≡≡≡
≡≡≡≡≡≡   TYPOGRAPHY                                                                                        ≡≡≡≡≡≡≡≡≡≡≡≡
≡≡≡≡≡≡                                                                                                    ≡≡≡≡≡≡≡≡≡≡≡≡
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

/*
≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈
≡≡≡≡≡≡   FONT FACE                                                              ≡≡≡≡≡≡≡≡≡≡≡≡
≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈
*/

/* ARCHER */
@font-face {
  font-family: 'Archer';
  src: url('../fonts/Archer-Book.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Archer-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Archer-Book.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Archer-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Archer-Book.svg#Archer') format('svg'); /* Legacy iOS */
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Archer';
  src: url('../fonts/Archer-BookItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Archer-BookItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Archer-BookItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Archer-BookItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Archer-BookItalic.svg#Archer') format('svg'); /* Legacy iOS */
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Archer';
  src: url('../fonts/Archer-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Archer-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Archer-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Archer-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Archer-Medium.svg#Archer') format('svg'); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Archer';
  src: url('../fonts/Archer-MediumItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Archer-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Archer-MediumItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Archer-MediumItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Archer-MediumItalic.svg#Archer') format('svg'); /* Legacy iOS */
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Archer';
  src: url('../fonts/Archer-SemiboldItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Archer-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Archer-SemiboldItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Archer-SemiboldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Archer-SemiboldItalic.svg#Archer') format('svg'); /* Legacy iOS */
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Archer';
  src: url('../fonts/Archer-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Archer-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Archer-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Archer-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Archer-Semibold.svg#Archer') format('svg'); /* Legacy iOS */
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Archer';
  src: url('../fonts/Archer-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Archer-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Archer-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Archer-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Archer-Bold.svg#Archer') format('svg'); /* Legacy iOS */
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Archer';
  src: url('../fonts/Archer-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Archer-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Archer-BoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Archer-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Archer-BoldItalic.svg#Archer') format('svg'); /* Legacy iOS */
  font-weight: 800;
  font-style: italic;
}


/* MAJESTIC BANNER */
@font-face {
  font-family: 'MajesticBanner';
  src: url('../fonts/MajestiBanner-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MajestiBanner-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MajestiBanner-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MajestiBanner-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MajestiBanner-Medium.svg#MajesticBanner') format('svg'); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MajesticBanner';
  src: url('../fonts/MajestiBanner-MediumItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MajestiBanner-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MajestiBanner-MediumItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MajestiBanner-MediumItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MajestiBanner-MediumItalic.svg#MajesticBanner') format('svg'); /* Legacy iOS */
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'MajesticBanner';
  src: url('../fonts/MajestiBanner-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MajestiBanner-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MajestiBanner-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MajestiBanner-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MajestiBanner-Bold.svg#MajesticBanner') format('svg'); /* Legacy iOS */
  font-weight: 800;
  font-style: normal;
}



/* SINKIN SANS */
@font-face {
  font-family: 'SinkinSans';
  src: url('../fonts/SinkinSans-300Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SinkinSans-300Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SinkinSans-300Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SinkinSans-300Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SinkinSans-300Light.svg#SinkinSans') format('svg'); /* Legacy iOS */
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SinkinSans';
  src: url('../fonts/SinkinSans-300LightItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SinkinSans-300LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SinkinSans-300LightItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SinkinSans-300LightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SinkinSans-300LightItalic.svg#SinkinSans') format('svg'); /* Legacy iOS */
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'SinkinSans';
  src: url('../fonts/SinkinSans-400Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SinkinSans-400Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SinkinSans-400Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SinkinSans-400Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SinkinSans-400Regular.svg#SinkinSans') format('svg'); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SinkinSans';
  src: url('../fonts/SinkinSans-400Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SinkinSans-400Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SinkinSans-400Italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SinkinSans-400Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SinkinSans-400Italic.svg#SinkinSans') format('svg'); /* Legacy iOS */
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'SinkinSans';
  src: url('../fonts/SinkinSans-500Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SinkinSans-500Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SinkinSans-500Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SinkinSans-500Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SinkinSans-500Medium.svg#SinkinSans') format('svg'); /* Legacy iOS */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SinkinSans';
  src: url('../fonts/SinkinSans-600SemiBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SinkinSans-600SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SinkinSans-600SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SinkinSans-600SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SinkinSans-600SemiBold.svg#SinkinSans') format('svg'); /* Legacy iOS */
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SinkinSans';
  src: url('../fonts/SinkinSans-600SemiBoldItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SinkinSans-600SemiBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SinkinSans-600SemiBoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SinkinSans-600SemiBoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SinkinSans-600SemiBoldItalic.svg#SinkinSans') format('svg'); /* Legacy iOS */
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'SinkinSans';
  src: url('../fonts/SinkinSans-700Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SinkinSans-700Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SinkinSans-700Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SinkinSans-700Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SinkinSans-700Bold.svg#SinkinSans') format('svg'); /* Legacy iOS */
  font-weight: 700;
  font-style: normal;
}


/* AG ROUNDED */
@font-face {
  font-family: 'VAGRounded';
  src: url('../fonts/VAGRoundedLTW01Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/VAGRoundedLTW01Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/VAGRoundedLTW01Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/VAGRoundedLTW01Bold.woff2') format('woff'), /* Super Modern Browsers */
       url('../fonts/VAGRoundedLTW01Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/VAGRoundedLTW01Bold.svg#VAGRounded') format('svg'); /* Legacy iOS */
  font-weight: 500;
  font-style: normal;
}