/*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
≡≡≡≡≡≡                                                                                                      ≡≡≡≡≡≡≡≡≡≡≡≡
≡≡≡≡≡≡   TYPOGRAPHY                                                                                        ≡≡≡≡≡≡≡≡≡≡≡≡
≡≡≡≡≡≡                                                                                                    ≡≡≡≡≡≡≡≡≡≡≡≡
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

/*
≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈
≡≡≡≡≡≡   FONT FACE                                                              ≡≡≡≡≡≡≡≡≡≡≡≡
≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈
*/

/* MAJESTIC BANNER */
@font-face {
  font-family: 'MajesticBanner';
  src: url('../fonts/MajestiBanner-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MajestiBanner-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MajestiBanner-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MajestiBanner-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MajestiBanner-Medium.svg#MajesticBanner') format('svg'); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MajesticBanner';
  src: url('../fonts/MajestiBanner-MediumItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MajestiBanner-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MajestiBanner-MediumItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MajestiBanner-MediumItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MajestiBanner-MediumItalic.svg#MajesticBanner') format('svg'); /* Legacy iOS */
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'MajesticBanner';
  src: url('../fonts/MajestiBanner-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MajestiBanner-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MajestiBanner-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MajestiBanner-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MajestiBanner-Bold.svg#MajesticBanner') format('svg'); /* Legacy iOS */
  font-weight: 800;
  font-style: normal;
}


/* SINKIN SANS */
@font-face {
  font-family: 'SinkinSans';
  src: url('../fonts/sinkinsans-300light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/sinkinsans-300light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/sinkinsans-300light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/sinkinsans-300light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/sinkinsans-300light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/sinkinsans-300light.svg#SinkinSans') format('svg'); /* Legacy iOS */
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SinkinSans';
  src: url('../fonts/sinkinsans-300lightitalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/sinkinsans-300lightitalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/sinkinsans-300lightitalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/sinkinsans-300lightitalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/sinkinsans-300lightitalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/sinkinsans-300lightitalic.svg#SinkinSans') format('svg'); /* Legacy iOS */
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'SinkinSans';
  src: url('../fonts/sinkinsans-400regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/sinkinsans-400regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/sinkinsans-400regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/sinkinsans-400regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/sinkinsans-400regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/sinkinsans-400regular.svg#SinkinSans') format('svg'); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SinkinSans';
  src: url('../fonts/sinkinsans-400italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/sinkinsans-400italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/sinkinsans-400italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/sinkinsans-400italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/sinkinsans-400italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/sinkinsans-400italic.svg#SinkinSans') format('svg'); /* Legacy iOS */
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'SinkinSans';
  src: url('../fonts/sinkinsans-500medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/sinkinsans-500medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/sinkinsans-500medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/sinkinsans-500medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/sinkinsans-500medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/sinkinsans-500medium.svg#SinkinSans') format('svg'); /* Legacy iOS */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SinkinSans';
  src: url('../fonts/sinkinsans-600semibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/sinkinsans-600semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/sinkinsans-600semibold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/sinkinsans-600semibold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/sinkinsans-600semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/sinkinsans-600semibold.svg#SinkinSans') format('svg'); /* Legacy iOS */
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SinkinSans';
  src: url('../fonts/sinkinsans-600semibolditali.eot'); /* IE9 Compat Modes */
  src: url('../fonts/sinkinsans-600semibolditali.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/sinkinsans-600semibolditali.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/sinkinsans-600semibolditali.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/sinkinsans-600semibolditali.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/sinkinsans-600semibolditali.svg#SinkinSans') format('svg'); /* Legacy iOS */
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'SinkinSans';
  src: url('../fonts/sinkinsans-700bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/sinkinsans-700bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/sinkinsans-700bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/sinkinsans-700bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/sinkinsans-700bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/sinkinsans-700bold.svg#SinkinSans') format('svg'); /* Legacy iOS */
  font-weight: 700;
  font-style: normal;
}


/* AG ROUNDED */
@font-face {
  font-family: 'VAGRounded';
  src: url('../fonts/VAGRoundedLTW01Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/VAGRoundedLTW01Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/VAGRoundedLTW01Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/VAGRoundedLTW01Bold.woff2') format('woff'), /* Super Modern Browsers */
       url('../fonts/VAGRoundedLTW01Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/VAGRoundedLTW01Bold.svg#VAGRounded') format('svg'); /* Legacy iOS */
  font-weight: 500;
  font-style: normal;
}

/* Foundation Sans */
@font-face {
  font-family: 'foundation_sansbold';
  src: url('../fonts/FoundationSans-Bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/FoundationSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/FoundationSans-Bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/FoundationSans-Bold-webfont.woff2') format('woff'), /* Super Modern Browsers */
       url('../fonts/FoundationSans-Bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/FoundationSans-Bold-webfont.svg#foundation_sansbold') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'foundation_sansregular';
  src: url('../fonts/FoundationSans-Roman-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/FoundationSans-Roman-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/FoundationSans-Roman-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/FoundationSans-Roman-webfont.woff2') format('woff'), /* Super Modern Browsers */
       url('../fonts/FoundationSans-Roman-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/FoundationSans-Roman-webfont.svg#foundation_sansregular') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}